@model MunicipioViewModel

@{
    ViewBag.Title = "Municipio";
}
<!-- Variable con ruta hacia el servidor de mapas -->
@{string servidorMapas = @System.Web.Configuration.WebConfigurationManager.AppSettings["ServidorMapas"];}

<!-- Scripts -->
<script>
    var htmlConvenciones='';
    var convencionesAptitudExceso='', convencionesAptitudNormal='', convencionesAptitudDeficit='';
    var convencionesExpansionContraccion='', convencionesNDVI='';
    var convenciones = @Html.Raw(Json.Encode(Model.Convenciones));
    var opciones=@Html.Raw(Json.Encode(Model.OpcionesVisualizacion));
    var numerosMeses = @Html.Raw(Json.Encode(ViewBag.NumerosMeses));
    var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
    var rutaServidor = '@(servidorMapas)';
    var caja = "@ViewBag.Coordenadas";
    var coddane = "@ViewBag.Municipio";
    var zonLat = "";
    var zonLong = "";
    var zonaId = "";
    var cultivo = "";
    var cultivoNombre = "@ViewBag.CultivoNombre";
    var cultivoInicio = "@ViewBag.CultivoInicio" - 1;
    var cultivoDuracion = "@ViewBag.CultivoDuracion";
    var coordenadas = @Html.Raw(Model.Municipio.Box);
    var estacionesIDEAM = "";
    var estacionesRadio = "";
    var estacionesSPI = "";
    var estacionesPpt = "";
    var opcionCondicion="";
    var opcionMes="";
    var indicadorPrediccion="@ViewBag.IndicadorPrediccion";
    var noEscenarios="@ViewBag.NoEscenarios";
    var escenarios = @Html.Raw(Json.Encode(Model.ListaEscenario));
    var aptitudes = @Html.Raw(Json.Encode(Model.ListaAptitud));
    @if (ViewBag.TieneZonas == "si") {
        foreach (var item in Model.Zona)
        {
            <text>
    zonLat = zonLat + "@item.Latitud.ToString().Replace(',','.')/";
    zonLong = zonLong + "@item.Longitud.ToString().Replace(',','.')/";
    zonaId = zonaId + "@item.ZonaId,";
    cultivo = cultivo + "@item.Cultivo.Nombre,";
    </text>
        }
    }
    zonLat = zonLat.slice(0, zonLat.length - 1);
    var zonLatV = zonLat.split("/");
    zonLong = zonLong.slice(0, zonLong.length - 1);
    var zonLongV = zonLong.split("/");
    zonaId = zonaId.slice(0, zonaId.length - 1);
    var zonaIdV = zonaId.split(",");
    cultivo = cultivo.slice(0, cultivo.length - 1);
    var cultivoV = cultivo.split(",");

    @if (ViewBag.TieneEstaciones == "si") {
        foreach (var item2 in Model.MunicipioEstacion)
        {
            DateTime hoy = System.DateTime.Today;
            <text>
    estacionesIDEAM = estacionesIDEAM + "@item2.Estacion.CodigoIdeam,";
    estacionesRadio = estacionesRadio + "@item2.Estacion.EstacionTipo.Radio,";
    </text>
            if (Model.EstacionMensual.Where(cd => cd.EstacionId == item2.EstacionId).Count() > 0)
            {
                foreach (var item3 in Model.EstacionMensual.Where(cd => cd.EstacionId == item2.EstacionId))
                {
                    <text>
    estacionesSPI = estacionesSPI + "@item3.SPI.ToString().Replace(',','.')/"
    estacionesPpt = estacionesPpt + "@item3.CategoriaProbabilidadId/"
    </text>
                }
            }
            else
            {
                <text>
    estacionesSPI = estacionesSPI + "sin_dato/";
    estacionesPpt = estacionesPpt + "sin_dato/"
    </text>
            }
        }
    }

    estacionesIDEAM = estacionesIDEAM.slice(0, estacionesIDEAM.length - 1);
    var estacionesIDEAMV = estacionesIDEAM.split(",");
    estacionesRadio = estacionesRadio.slice(0, estacionesRadio.length - 1);
    var estacionesRadioV = estacionesRadio.split(",");
    estacionesSPI = estacionesSPI.slice(0, estacionesSPI.length - 1);
    var estacionesSPIV = estacionesSPI.split("/");
    estacionesPpt = estacionesPpt.slice(0, estacionesPpt.length - 1);
    var estacionesPptV = estacionesPpt.split("/");
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ayuda').tooltip({
            'placement': 'right'
        });
    });
</script>

<style>
    .panel-heading {
        padding: 0;
    }
</style>

<a href="#" class="btn btn-danger  btm-zindex none" id="Show_cont">Ver información</a>

<div class="container-fluid">
    <div id="sec0" class="row-fluid" style="min-height:900px;">
        <!-- Ícono de carga -->
        <div id="load"> </div>
        <!-- Ruta de navegación -->
        <div>
            <ol class="breadcrumb">
                <li><a href="~/Regional/Pais">Colombia</a></li>
                <li id="barra-departamento">
                    <a href="#" onclick="toggleGlobo1()">
                        @Model.Municipio.Departamento.Nombre
                    </a>
                    <div class="globo-breadcrumb contenedor-caja-flecha departamentos none" id="globo-seleccion-departamento">
                        <div class="globo-seccion caja-flecha">
                            <ul style="padding-left: 0px; margin-bottom: 0px;">
                                @foreach (var departamento in Model.OtrosDepartamentos)
                                {
                                    if (!departamento.CodigoDane.Contains("999"))
                                    {
                                        <li class="padding-elemento"><a class="enlace-menu-regional enlace-mapa" href="~/Regional/Departamento?codigoDane=@departamento.CodigoDane">@departamento.Nombre</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </li>
                <li id="barra-municipio">
                    <a href="#" onclick="toggleGloboM()">
                        @Model.Municipio.Nombre
                    </a>
                    <div class="globo-breadcrumb contenedor-caja-flecha municipios none" id="globo-seleccion-municipio">
                        <div class="globo-seccion caja-flecha">
                            <ul style="padding-left: 0px; margin-bottom: 0px;">
                                @foreach (var item in Model.OtrosMunicipios)
                                {
                                    <li class="padding-elemento"><a class="enlace-menu-regional enlace-mapa" href="~/Regional/Municipio?codigoDane=@item.CodigoDane">@item.Nombre</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <a href="#" onclick="toggleGlobo(@ViewBag.IndicadorPrediccion)">
                        Seleccione un cultivo
                    </a>
                    <div class="globo-breadcrumb contenedor-caja-flecha cultivos none" id="globo-seleccion-cultivo">
                        <div class="globo-seccion caja-flecha">
                            <ul style="padding-left: 0px; margin-bottom: 0px;">
                                @foreach (var item in Model.Municipio.CultivoCiclo.Where(z => z.MunicipioId == Model.Municipio.MunicipioId).GroupBy(c => c.CultivoId))
                                {
                                    <li class="padding-elemento"><a href="#" style="color:white" onclick="seleccionCultivo(@item.FirstOrDefault().Cultivo.CultivoId)">@item.FirstOrDefault().Cultivo.Nombre</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a class="btn btn-descarga" id="export-png" title="Capturar mapa" download="mapaSE.png"><i class="fa fa-arrow-circle-o-down" style="font-size:1.3em;"></i></a></li>
            </ol>
        </div>

        <!-- Contenedor de mapa -->
        <div id="map" class="map">
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content"></div>
            </div>
        </div>

        <!-- Contenedor de barra lateral -->
        <div class="row site">

            <!-- Contenedor de íconos -->
            <div class="panel-group general_menu margen-barra text-center" id="accordion" role="tablist" aria-multiselectable="true" style="position:relative; width:150px;">

                <!-- Sección predicción -->
                @if (Model.CapasMunicipios.Where(c => c.CapaId == 19).FirstOrDefault().Visible)
                {
                    <div class="panel panel-default fondo-transparente">

                        <!-- Botón -->
                        <div class="panel-heading fondo-transparente" role="tab" id="heading1">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#desplegable1" aria-expanded="true" aria-controls="desplegable1">
                                <div class="boton-desplegable text-center center-block">
                                    <ul>
                                        <li class="boton-titulo">Predicción</li>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <!-- Desplegable -->
                        <div id="desplegable1" class="panel-collapse collapse text-center" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body" style="left:50px;">
                                <ul>
                                    <li class="espacio-imagenes">
                                        <a class="ayuda center-block icono-normal" href="#" onclick="cambiarCapa('estaciones')" title="Estaciones" id="icono-estaciones">
                                            <img src="~/Content/imagenes/Iconos/estaciones.png" width="40" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                }

                <!-- Sección amenazas -->
                @if (Model.CapasMunicipios.Where(c => c.CapaId == 15).FirstOrDefault().Visible || Model.CapasMunicipios.Where(c => c.CapaId == 16).FirstOrDefault().Visible)
                {
                    <div class="panel panel-default fondo-transparente">

                        <!-- Botón -->
                        <div class="panel-heading fondo-transparente" role="tab" id="heading2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#desplegable2" aria-expanded="true" aria-controls="desplegable2">
                                <div class="boton-desplegable text-center center-block">
                                    <ul>
                                        <li class="boton-titulo">Amenazas agroclimáticas</li>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <!-- Desplegable -->
                        <div id="desplegable2" class="panel-collapse collapse text-center" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body" style="left:50px;">
                                <ul>
                                    @if (Model.CapasMunicipios.Where(c => c.CapaId == 15).FirstOrDefault().Visible)
                                    {
                                        <li class="espacio-imagenes">
                                            <a class="ayuda center-block icono-normal" href="#" onclick="cambiarCapa('anomalia_ndvi')" title="Análisis de condiciones secas" id="icono-anomalia">
                                                <img src="~/Content/imagenes/Iconos/nvdi.png" width="40" />
                                            </a>
                                        </li>
                                    }
                                    @if (Model.CapasMunicipios.Where(c => c.CapaId == 16).FirstOrDefault().Visible)
                                    {
                                        <li class="espacio-imagenes">
                                            <a class="ayuda center-block icono-normal" href="#" onclick="cambiarCapa('inundacion')" title="Susceptibilidad a inundaciones" id="icono-inundacion"><img src="~/Content/imagenes/Iconos/susceptibilidad.png" width="40" /></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                }
                <!-- Sección riesgos -->
                @if (Model.CapasMunicipios.Where(c => c.CapaId == 20).FirstOrDefault().Visible || Model.CapasMunicipios.Where(c => c.CapaId == 21).FirstOrDefault().Visible)
                {
                    <div class="panel panel-default fondo-transparente">

                        <!-- Botón -->
                        <div class="panel-heading fondo-transparente none" role="tab" id="heading3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#desplegable3" aria-expanded="true" aria-controls="desplegable3">
                                <div class="boton-desplegable text-center center-block">
                                    <ul>
                                        <li class="boton-titulo">Riesgos agroclimáticos</li>
                                    </ul>
                                </div>
                            </a>
                        </div>

                        <!-- Desplegable -->
                        <div id="desplegable3" class="panel-collapse collapse text-center" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body" style="left:50px;">
                                <ul>
                                    @if (Model.CapasMunicipios.Where(c => c.CapaId == 20).FirstOrDefault().Visible)
                                    {
                                        <li class="espacio-imagenes">
                                            <a class="ayuda center-block icono-normal" href="#" onclick="cambiarCapa('escenarios')" title="Escenarios agroclimáticos" id="icono-escenarios"><img src="~/Content/imagenes/Iconos/escenarios.png" width="40" /></a>
                                        </li>
                                    }
                                    @if (Model.CapasMunicipios.Where(c => c.CapaId == 21).FirstOrDefault().Visible)
                                    {
                                        <li class="espacio-imagenes">
                                            <a class="ayuda center-block icono-normal" href="#" onclick="cambiarCapa('aptitud')" title="Aptitud agroclimática" id="icono-aptitud">
                                                <img src="~/Content/imagenes/Iconos/aptitud.png" width="40" />
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                }
                <div class="panel panel-default fondo-transparente">

                    <!-- Botón -->
                    <div class="panel-heading fondo-transparente none" role="tab" id="heading4">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#desplegable4" onclick="cambiarCapa('practicas')" aria-expanded="true" aria-controls="desplegable4">
                            <div class="boton-desplegable text-center center-block">
                                <ul>
                                    <li class="boton-titulo">Planes de manejo</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <!-- Desplegable -->
                    <div id="desplegable4" class="panel-collapse collapse text-center" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body" style="left:50px;">
                            <ul>
                                @if (Model.CapasMunicipios.Where(c => c.CapaId == 26).FirstOrDefault().Visible)
                                {

                                    <li class="espacio-imagenes">
                                        <a class="ayuda center-block icono-normal" href="#" onclick="cambiarCapa('practicas')" title="Planes de manejo" id="icono-practica">
                                            <img src="~/Content/imagenes/Iconos/practicas.png" width="40" />
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Información breve de barra lateral -->
            <div class="ventana-informacion none" id="cont">

                <div class="col-sm-6 col-sm-offset-3 map_open text-center">
                    <a href="#" id="map_open" role="button" class="btn btn-danger btn-sm">Ver mapa</a>
                </div>

                <div class="row">
                    <!-- Ciclo de cada capa para el municipio-->
                    @for (int c = 0; c < Model.CapasMunicipios.Where(cd => cd.MunicipioId == @Model.Municipio.MunicipioId).Count(); c++)
                    {
                        foreach (var itemCapa in Model.CapasMunicipios.Where(cd => cd.MunicipioId == @Model.Municipio.MunicipioId).Skip(c).Take(1))
                        {

                            <div id=@itemCapa.Capa.IdentificadorCaracterizacion class="col-md-12 youcan none">

                                <!-- Concepto -->
                                @if (!itemCapa.Capa.Concepto.IsEmpty())
                                {
                                    <div class="row seccion-breve">
                                        <div class="col-md-12">
                                            <p>@itemCapa.Capa.Concepto</p>
                                        </div>
                                    </div>
                                }

                                <!-- Explicación del mapa -->
                                @if (!itemCapa.ExplicacionMapa.IsEmpty())
                                {
                                    <div class="row seccion-breve">
                                        <div class="col-md-12">
                                            @if (itemCapa.Capa.CapaId == 19)
                                            {
                                                <p>Mes de predicción: <span style="color:#662E8F;">@ViewBag.Mes</span></p>
                                            }
                                            <p>@itemCapa.ExplicacionMapa</p>
                                        </div>
                                    </div>
                                }
                                @if (itemCapa.CapaId == 26)
                                {
                                    if (Model.Municipio.CultivoMunicipio.Where(x => x.MunicipioId == itemCapa.MunicipioId).Select(x => x.RutaPracticaManejo).FirstOrDefault() != "" && Model.Municipio.CultivoMunicipio.Where(x => x.MunicipioId == itemCapa.MunicipioId).Count() !=0)
                                    {
                                        <div class="row text-center" style="padding-top:15px; padding-bottom:10px;">
                                            <a href="@Model.Municipio.CultivoMunicipio.Where(x => x.MunicipioId == itemCapa.MunicipioId).Select(x => x.RutaPracticaManejo).FirstOrDefault()" target="_blank">Descargar</a>
                                        </div>
                                    }
                                }

                                <!-- Opciones de visualización de capa -->
                                <div class="row" style="padding-top:15px; padding-bottom:10px;">
                                    <div class="col-md-12  text-center">
                                        <!--Si la opcion es de escenarios tiene tratamiento diferente:-->
                                        @if (itemCapa.Capa.IdentificadorCaracterizacion == "escenarios" && ViewBag.NoEscenarios != "true")
                                        {
                                            <div class="panel-group" id="accordionCondiciones">
                                                @for (int z = 0; z < Model.condiciones.Count(); z++)
                                                {
                                                    foreach (var itemCondicion in Model.condiciones.Skip(z).Take(1))
                                                    {
                                                        @*@{ int z = 1;}*@
                                                if (Model.Municipio.CultivoCiclo.Where(d => d.CondicionId == z).Count() > 0)
                                                {
                                                    <div class="panel panel-default">
                                                        <!-- Condición normal -->
                                                        <div class="panel-heading panel-escenarios">
                                                            <h5 class="panel-title">
                                                                <a id="btn-collapseCiclo@(z)" data-toggle="collapse" data-parent="#accordionCondiciones" href="#" data-target="#collapseCiclo@(z)" class="titulo-escenarios" onclick="opcionCondicion=@z">
                                                                    @itemCondicion.Nombre
                                                                    @*@Model.Municipio.CultivoCiclo.Where(d => d.CondicionId == @z).FirstOrDefault().Condicion.Nombre*@
                                                                </a>
                                                            </h5>
                                                        </div>

                                                        <!-- opciones condición normal -->
                                                        <div id="collapseCiclo@(z)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(z)">
                                                            <div class="panel-body">
                                                                <div class="panel-group" id="accordionCiclo@(z)">

                                                                    <!--Indicador del cultivo para llamado al mapa-->
                                                                    @{var inicialesCultivo = Model.Municipio.CultivoCiclo.Where(d => d.CondicionId == @z).FirstOrDefault().Cultivo.IndicadorMapa;}

                                                                    <!--Se listan los cliclos definidos para cada condición (períodos)-->
                                                                    @foreach (var ciclo in Model.Municipio.CultivoCiclo.Where(d => d.CondicionId == @z))
                                                                    {

                                                                        <!--Definición de mes de inicio y mes final de cada ciclo-->
                                                                        var mesInicial = ciclo.CultivoTipoEtapa.OrderBy(ce => ce.CultivoEtapa.Orden).FirstOrDefault().MesInicio;
                                                                        //var mesInicial = ciclo.CultivoTipoEtapa.OrderBy(ce => ce.CultivoEtapa.Orden).Min(ce => ce.MesInicio);
                                                                        var duracion = ciclo.CultivoTipoEtapa.OrderBy(ce => ce.CultivoEtapa.Orden).LastOrDefault().Duracion;
                                                                        //var duracion = ciclo.CultivoTipoEtapa.OrderBy(ce => ce.CultivoEtapa.Orden).Max(ce => ce.Duracion);
                                                                        var mesFinal = ciclo.CultivoTipoEtapa.OrderBy(ce => ce.CultivoEtapa.Orden).LastOrDefault().MesInicio + duracion;
                                                                        //var mesFinal = ciclo.CultivoTipoEtapa.OrderBy(ce => ce.CultivoEtapa.Orden).Max(ce => ce.MesInicio + ce.Duracion);

                                                                        if (mesFinal < mesInicial) { mesFinal = mesFinal + 12; };
                                                                        <!--Duración de todas las etapas del ciclo-->
                                                                        int cantidadMeses = mesFinal - mesInicial;
                                                                        <!--Cantidad de etapas en el ciclo-->
                                                                        int cantidadEtapas = ciclo.CultivoTipoEtapa.Count();
                                                                        <!--Creación de la matriz puntos con el número de tamaño meses contra las etapas del ciclo-->
                                                                        string[,] puntosEtapa = new String[cantidadMeses, cantidadEtapas + 1];

                                                                        <!--Se llena toda la matriz con puntos vacíos-->
                                                                        for (int x = 0; x < cantidadMeses; x++)
                                                                        {
                                                                            int numeroMes = mesInicial + x;
                                                                            if (numeroMes > 12) { numeroMes = numeroMes - 12; }
                                                                            puntosEtapa[x, 0] = System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(numeroMes);
                                                                            for (int y = 1; y <= cantidadEtapas; y++)
                                                                            {
                                                                                puntosEtapa[x, y] = "escenario-vacio oculto";
                                                                            }
                                                                        }

                                                                        <!--Contador de etapas y búsqueda con valores definidos en la BD para el llenado de puntos en la matriz-->
                                                                        int contadorEtapas = 0;

                                                                        <!--Se llena la matriz de puntos con los valores en BD haciendo un recorrido etapa por etapa-->
                                                                        foreach (var etapa in ciclo.CultivoTipoEtapa.OrderBy(e => e.CultivoEtapa.Orden))
                                                                        {
                                                                            contadorEtapas++;

                                                                            for (int mesesEtapa = 0; mesesEtapa < cantidadMeses; mesesEtapa++)
                                                                            {
                                                                                int numeroMes = mesesEtapa + mesInicial;
                                                                                if (numeroMes > 12) { numeroMes = numeroMes - 12; }

                                                                                if (etapa.MesInicio == numeroMes)
                                                                                {
                                                                                    for (int mesesPuntos = mesesEtapa; mesesPuntos < mesesEtapa + etapa.Duracion; mesesPuntos++)
                                                                                    {
                                                                                        puntosEtapa[mesesPuntos, contadorEtapas] = etapa.CultivoEtapa.Clase;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }

                                                                        int contadorMes = 0;

                                                                        <div class="panel panel-default">

                                                                            <div class="panel-heading panel-ciclos">
                                                                                <h5 class="panel-title">
                                                                                    <a class="titulo-ciclos" data-toggle="collapse" data-parent="#accordionCiclo@(z)" href="#" data-target="#collapseCalendario@(z)@(ciclo.CultivoCicloId)">
                                                                                        @ciclo.Nombre
                                                                                    </a>
                                                                                </h5>
                                                                            </div>
                                                                            <div id="collapseCalendario@(z)@(ciclo.CultivoCicloId)" class="panel-collapse collapse">
                                                                                <div class="panel-body" style="overflow-y: scroll; max-height: 280px;overflow-x: hidden;">
                                                                                    <div class="btn-group">
                                                                                        <div class="cuadro-boton-escenarios">

                                                                                            @for (int j = mesInicial; j <= mesFinal - 1; j++)
                                                                                            {
                                                                                                var mes = 0;
                                                                                                if (j > 12) { mes = j - 12; } else { mes = j; };

                                                                                                var nombreMes = System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(mes).ToLower();

                                                                                                <div class="col-md-12 padding5">
                                                                                                    <div class="col-md-6">
                                                                                                        @{ 
                                                                                                            var enlace1 = "";
                                                                                                            var enlace2 = "_"+inicialesCultivo+"_"+nombreMes.Substring(0, 3);
                                                                                                            switch (ciclo.CondicionId)
                                                                                                            {
                                                                                                                case 0:
                                                                                                                    enlace1 = "hum";
                                                                                                                    break;
                                                                                                                case 1:
                                                                                                                    enlace1 = "nor";
                                                                                                                    break;
                                                                                                                case 2:
                                                                                                                    enlace1 = "sec";
                                                                                                                    break;
                                                                                                                default:
                                                                                                                    enlace1 = "hum";
                                                                                                                    break;
                                                                                                            }
                                                                                                            var enlace = enlace1 + enlace2;
                                                                                                        <a id="boton-escenarios-@(ciclo.CultivoCicloId)-@(mes)" href="#" class="btn btn-default boton-escenarios centrar-vertical" onclick="cambiarCapa('@enlace');opcionMes=@mes">
                                                                                                            @nombreMes
                                                                                                        </a>
                                                                                                                }
                                                                                                    </div>

                                                                                                    <!--Se agregan los puntos, teniendo en cuenta la clase para saber si el número de etapa es azul o blanco-->
                                                                                                    @for (int etapa = 1; etapa < puntosEtapa.GetLength(1); etapa++)
                                                                                                    {
                                                                                                        <div class="col-md-1 circulo-escenarios">
                                                                                                            <div class="@(puntosEtapa[contadorMes, etapa])" style="font-size:0.8em;display:normal;">@etapa</div>
                                                                                                        </div>

                                                                                                    }

                                                                                                    @{contadorMes = contadorMes + 1;
                                                                                                    }
                                                                                                </div>

                                                                                                        }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                                                        }
                                                                </div>
                                                            </div>
                                                            <a href="~/Ofertas/OpcionesRegional?CondicionId=@(z)&MunicipioId=@(Model.Municipio.MunicipioId)&CultivoId=@(Model.Municipio.CultivoCiclo.FirstOrDefault().CultivoId)" class="btn btn-sm boton-naranja">Opciones tecnológicas</a>
                                                        </div>
                                                    </div>
                                                                                                        }
                                      <!--for-->}
                                                                                                        }
                                            </div>
                               <!-- Concepto -->
                                                                                                        <div class="text-center">
                                                                                                            <div class="col-md-12 columnas-igual-alto">
                                                                                                                @foreach (var etapa in Model.Municipio.CultivoCiclo.FirstOrDefault().CultivoTipoEtapa.OrderBy(o => o.CultivoEtapa.Orden))
                                                                                                                {
                                                                                                                    <div class="col-md-4 columna-alto center-block">
                                                                                                                        <img class="img-responsive imagen-etapas" src="@(etapa.CultivoEtapa.EtapaGrupo.Where(d=>d.GrupoCultivoId == Model.Municipio.CultivoCiclo.FirstOrDefault().Cultivo.GrupoCultivoId).FirstOrDefault().RutaIcono)" />
                                                                                                                    </div>
                                                                                                                }
                                                                                                            </div>
                                                                                                            <div class="col-md-12 columnas-igual-alto" style="font-size: 0.8em;">
                                                                                                                @{
                                                                                                                    var contador = 0;

                                                                                                                    foreach (var etapa in Model.Municipio.CultivoCiclo.FirstOrDefault().CultivoTipoEtapa.OrderBy(o => o.CultivoEtapa.Orden))
                                                                                                                    {
                                                                                                                        contador++;
                                                                                                                        <div class="col-md-4 columna-alto cuadro-inferior-estados">
                                                                                                                            <div class="circulo-escenarios">
                                                                                                                                <div class="@(etapa.CultivoEtapa.Clase)" style="font-size:0.8em;">@contador</div>
                                                                                                                            </div>
                                                                                                                            <span>@(etapa.CultivoEtapa.Nombre)</span>
                                                                                                                        </div>
                                                                                                                    }
                                                                                                                }
                                                                                                            </div>
                                                                                                        </div>

                                                                                                                    }<!--fin if si es Escenarios -->
                                        <!--Si la opcion no es de la capa Escenarios:-->
                                        @if (itemCapa.Capa.IdentificadorCaracterizacion != "escenarios")
                                                                                                            {

                    <!--for de opciones de capa-->
                                            for (int tit = 0; tit < Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId).GroupBy(cd => cd.NombreTipoOpcion).Count(); tit++)
                                            {
                                                foreach (var titulo in Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId).GroupBy(cd => cd.NombreTipoOpcion).Skip(tit).Take(1))
                                                {
                        <!--validacion si "TipoOpcion" aparece como Ninguna: no se muestra ni Titulo ni botones -->
                                                    if (@titulo.FirstOrDefault().NombreTipoOpcion != "Ninguna")
                                                    {

                              <!--validacion si no se tiene Tipo opcion , o está registrada como "Opciones" : SI muestra botones, NO muestra el "Titulo del grupo de botones"-->
                                                        if (!@titulo.FirstOrDefault().NombreTipoOpcion.IsEmpty() && @titulo.FirstOrDefault().NombreTipoOpcion != "Opciones")
                                                        {
                                                            <p>
                                                                @titulo.FirstOrDefault().NombreTipoOpcion
                                                            </p>
                                                        } <!--if empty/"Opciones"-->

                           <!-- visualiza grupo de botones por cada tipo opción-->
                                                            <div class="btn-group">

                                                                <!--for de tipo Opcion(botones)-->
                                                                @for (int op = 0; op < Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId && cd.NombreTipoOpcion == @titulo.FirstOrDefault().NombreTipoOpcion).Count(); op++)
                                                                {
                                                                    foreach (var itemOpc in Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId && cd.NombreTipoOpcion == @titulo.FirstOrDefault().NombreTipoOpcion).Skip(op).Take(1))
                                                                    {
                                                                        if (Model.Municipio.CodigoDane != "44847" || itemOpc.NombreOpcion != "Exceso")
                                                                        {
                                                                            <a id="boton-@itemOpc.NombreCortoOpcion" class="btn btn-default " href="#" onclick=@itemOpc.NombreOpcionJScript>
                                                                                @itemOpc.NombreOpcion
                                                                            </a>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                    }<!--if validacion ninguna-->
                                                }
                                            }<!--fin for de opciones -->
                                        }<!--fin if  de capa diferente a escenarios -->
                                    </div>
                                </div>

                                <!-- Leyenda -->
                                <div class="row seccion-leyenda">
                                    <!--validacion de capa de escenarios porque no tiene leyenda:-->
                                    @if (itemCapa.Capa.IdentificadorCaracterizacion != "escenarios")
                                    {
                                        if (itemCapa.Capa.IdentificadorCaracterizacion == "estaciones_municipio")
                                        {
                                            <div class="col-md-12">
                                                <!--Por cada opcion de la capa se arma las convenciones-->
                                                <!--for opciones -convenciones-->
                                                @for (int opLey = 0; opLey < Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId).Count(); opLey++)
                                                {

                                                    foreach (var itemOpcLey in Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId).Skip(opLey).Take(1))
                                                    {
                                                        <div id=@itemOpcLey.NombreCortoOpcion class="table-responsive tabla-leyenda">
                                                            <table class="table">
                                                                <tbody class="caja-convenciones">
                                                                    @foreach (var itemconvencion in Model.Convenciones.Where(d => d.OpcionPadre == itemOpcLey.OpcionVisualizacionId))
                                                                    {
                                                                        <tr>
                                                                            <td class="tabla-convenciones-1">
                                                                                <span class="fa fa-circle convencion" style="color: @itemconvencion.color"></span>
                                                                            </td>
                                                                            <td class="tabla-convenciones-2">@itemconvencion.Convencion</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>

                                                            </table>

                                                        </div>
                                                    }
                                                }


                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12">
                                                <!--Por cada opcion de la capa se arma las convenciones-->
                                                <!--for opciones -convenciones-->
                                                @for (int opLey = 0; opLey < Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId).Count(); opLey++)
                                                {

                                                    foreach (var itemOpcLey in Model.OpcionesVisualizacion.Where(cd => cd.CapaId == itemCapa.CapaId).Skip(opLey).Take(1))
                                                    {
                                                        <div id=@itemOpcLey.NombreCortoOpcion class="table-responsive tabla-leyenda">
                                                            <table class="table">
                                                                <tbody class="caja-convenciones"></tbody>

                                                            </table>

                                                        </div>
                                                    }
                                                }


                                            </div>
                                        }
                                    }
                                </div>

                                <!-- Enlace ver más -->
                                <div class="row" style="text-align:right">
                                    <a class="btn btn-vermas " href="#mas-@(itemCapa.Capa.IdentificadorCaracterizacion)">
                                        Ver más...
                                    </a>
                                </div>
                            </div>                                                                                                       }
                                                                                                                    }

                </div>

            </div>

        </div>

    </div>

    @{
        var contadorFilas = 1;
        string letraFila = "";
        var capasMunicipio = Model.CapasMunicipios.Where(d => d.MunicipioId == Model.Municipio.MunicipioId).OrderBy(s => s.CapaId);

        foreach (var objetoCapa in capasMunicipio)
        {
            if (contadorFilas % 2 == 0)
            {
                letraFila = "a";
            }
            else
            {
                letraFila = "b";
            }
            <div id="mas-@objetoCapa.Capa.IdentificadorCaracterizacion" class="text-center contenedor-@letraFila">

                @if (!objetoCapa.Capa.NombreCaracterizacion.IsEmpty() && objetoCapa.Capa.NombreCaracterizacion != null
                                && objetoCapa.Capa.NombreCaracterizacion != "")
                {
                    <div class="col-md-12 barra-titulo-contenedor">
                        <span class="titulo-contenedor titulo-contenedor-@letraFila">
                            @objetoCapa.Capa.NombreCaracterizacion
                        </span>
                    </div>
                }

                @{
                    var contadorCuadros = 0;
                    var cuadrosCapa = Model.InformacionAmpliaSec1Mcipio.Where(d => d.CapasMunicipios.CapaId == objetoCapa.CapaId)
                    .Where(e => e.CapasMunicipios.MunicipioId == Model.Municipio.MunicipioId);
                }

                @foreach (var objetoCuadro in cuadrosCapa)
                {
                    contadorCuadros++;
                    <div class="col-md-12">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="col-md-12 contenedor-informacion contenedor-informacion-@letraFila">

                                @if (!objetoCuadro.TituloSeccion1Mcipio.IsEmpty() && objetoCuadro.TituloSeccion1Mcipio != null)
                                {
                                    <span class="titulo-panel titulo-panel-@letraFila">
                                        @objetoCuadro.TituloSeccion1Mcipio
                                    </span>
                                }

                                @if (!objetoCuadro.InformacionMapa.IsEmpty())
                                {
                                    <div class="row">
                                        @Html.Raw(objetoCuadro.InformacionMapa)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    if (contadorCuadros != cuadrosCapa.Count())
                    {
                        <div class="col-md-10 col-md-offset-1">
                            <hr class="linea-contenedor-@letraFila" />
                        </div>
                    }
                }

            </div>
                        contadorFilas++;
                    }
    }

    <!-- Créditos -->
    <div class="seccion-logos" id="sec2">
        <div class="container">
            <!--Logos-->
            <div class="row hidden-xs" style="background-color:white; padding: 10px 0 10px 0; height:100px; margin-top:0px;">
                <div class="col-md-4 col-sm-4 cuadro-logo">
                    <img class="imagen-logo" src="~/Content/imagenes/Logos/fondo_adaptacion.png" />
                </div>
                <div class="col-md-4 col-sm-4 cuadro-logo">
                    <img class="imagen-logo" src="~/Content/imagenes/Logos/LogoMADR.png" />
                </div>
                <div class="col-md-4 col-sm-4 cuadro-logo">
                    <img class="imagen-logo" src="~/Content/imagenes/Logos/logo-agrosavia.png" />
                </div>
            </div>
        </div>
    </div>

</div>

<a class="boton-subir off" href="#">
    <span class="icon-fastup">
    </span> Volver al mapa
</a>

<div class="modal fade" id="modal-no-prediccion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>La estación no tiene predicción registrada para el mes actual (SPI en cero)</p>
                <p>Es necesaria una predicción para poder acceder al módulo local del sistema</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.boton-subir').removeClass('off').addClass('on');
        }
        else {
            $('.boton-subir').removeClass('on').addClass('off');
        }
    });

    $('.boton-subir').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 500);
        return false;
    });
</script>
<style>
    .layer-switcher > .panel > ul > li:not(.group) {
        display: none;
    }
</style>
<script src="~/Scripts/estilos_layers.js?200"></script>
<script src="~/Scripts/se_regional.js?200"></script>
<script src="~/Scripts/se_municipio.js?200"></script>