@model SistemaExperto.Models.CategoriaProbabilidad

@{
    ViewBag.Title = "Editar";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />
<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/CategoriaProbabilidad">Categoria Probabilidad</a></li>
    <li class="active">Editar </li>
</ol>
<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Editar categoria probabilidad precipitación</h2>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.CategoriaProbabilidadId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Descripcion)
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>
                </div>

                <!-- Botón editar -->
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <br />
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $("select").addClass("form-control")
</script>
