@model SistemaExperto.Models.Termino
@{
    ViewBag.Title = "Informe";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sistema Experto</title>

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
    <script src="~/Scripts/bootstrap-3.2.js"></script>
    <script src="~/Scripts/ol.js"></script>
    <script src="~/Scripts/ol3-layerswitcher.js"></script>
    <script src="~/Scripts/se.js"></script>

    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/ol.css" rel="stylesheet" />
    <link href="~/Content/css/ol3-layerswitcher.css" rel="stylesheet" />
    <link href="~/Content/css/se.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/SistemaExperto.css" rel="stylesheet" />

    <style>
        .navbar-default {
            background-color: white;
            border-color: white;
        }

        .enlace-modulos {
            font-size: 1.1em;
            letter-spacing: 1px;
            transform: scale(1,1.5);
            -webkit-transform: scale(1,1.25);
            -moz-transform: scale(1,1.25);
            -ms-transform: scale(1,1.25);
            -o-transform: scale(1,1.25);
        }

        .enlace-mapa:hover, .enlace-mapa:active {
            color: #662E8F !important;
        }

        .enlace-productividad:hover, .enlace-productividad:active {
            color: #00A99D !important;
        }

        .enlace-glosario:hover, .enlace-glosario:active {
            color: #9E005D !important;
        }

        .color-fondo-mapa {
            background-color: #662E8F;
        }

        .color-fondo-productividad {
            background-color: #00A99D;
        }

        .color-fondo-glosario {
            background-color: #9E005D;
        }

        .color-texto-mapa {
            color: #662E8F;
        }

        .color-texto-productividad {
            color: #00A99D;
        }

        .color-texto-glosario {
            color: #9E005D;
        }

        .contenido {
            padding-top: 80px;
        }

        .navbar-brand {
            padding: 5px 15px;
        }

        body {
            padding-top: 82px;
        }

        .navbar {
            padding-left: 15px;
            padding-right: 15px;
        }

        .oculto {
            display: none;
        }
    </style>
</head>

<style>
     .barra-informe {
        height: 15px;
        padding: 2px 15px 2px 20px;
        background-color: rgba(62, 188, 239, 0.9);
        top: 80px;
        position: relative;
        width: 100%;
    }
</style>

<h2>Glosario SEMapa</h2>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="~/Inicio/">
                        <img class="img-responsive" src="~/Content/imagenes/logos/logoSE.png" style="max-height:75px" alt="">
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container-fluid">
            <div id="sec0" class="row-fluid">

                <!-- Ruta de navegación -->
                @*<div class="barra-informe" style="margin-bottom:100px;">
                </div>*@

                <div class="col-md-12 center-block text-center" style="margin-top: 10px;">
                    <div class="text-center">
                        <h2 style="color:#32ACDF; font-weight:bolder;">@Model.NombreTermino</h2>
                        <hr />
                        <h3 style="color:#32ACDF; font-weight:bolder;">Definición breve</h3>
                        <hr />
                    </div>
                    <div class="text-center">
                        <p>@Model.DefinicionBreve</p>
                        <hr />
                    </div>
                    <div class="text-center">
                        <h3 style="color:#32ACDF; font-weight:bolder;">Definición amplia</h3>
                        <hr />
                    </div>
                    <div class="text-center">
                        <p>@Model.DefinicionAmplia</p>
                        <hr />
                    </div>
                    <div class="text-center">
                        <h3 style="color:#32ACDF; font-weight:bolder;">Fuente</h3>
                        <hr />
                    </div>
                    <div class="text-center">
                        <p>@Model.Fuente</p>
                        <hr />
                    </div>
                    <div class="text-center">
                        <h3 style="color:#32ACDF; font-weight:bolder;">Referencia</h3>
                        <hr />
                    </div>
                    <div class="text-center">
                        <p>@Model.InformacionApoyo</p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Créditos -->
	
<div class="contenedor-informacion text-center" style="padding-top:20px;">

    <div class="col-md-12">

        <img src="~/Content/imagenes/Logos/corpoica.png" style="height:40px; padding-left:10px" />

        <img src="~/Content/imagenes/Logos/fondo_adaptacion.png" style="height:60px; padding-left:15px" />

        <img src="~/Content/imagenes/Logos/ministerio.png" style="height:40px; padding-left:10px" />

        <img src="~/Content/imagenes/Logos/slogan_pais.png" style="height:60px; padding-left:15px" />

    </div>
    <hr />
    <div style="font-size:0.85em;">
        <p>
            <i>
                La información provista a través de este portal no sustituye la opinión de un profesional o asistente técnico capacitado.
            </i>
        </p>
        <br />
        <p>
            <i>
                Usted asume la responsabilidad por la forma como decide utilizar esta información. Los autores reconocen que el sistema tiene limitaciones y por lo tanto SE-MAPA no sustituye ninguna otra herramienta similar; por el contrario es una herramienta que complementa el conocimiento que usted tiene del territorio para que pueda hacer una mejor gestión del riesgo agroclimático.
            </i>
        </p>
        <br />
        <p>
            Derechos reservados: © 2016 CORPOICA
            <br />
            Se autoriza la reproducción de este documento con fines de investigación, académicos y otros fines no comerciales, sin previa autorización escrita de parte de quien detenta los derechos patrimoniales con tal de que se mencione la fuente. CORPOICA no se hace responsable de la interpretación y uso de estos resultados.
        </p>
    </div>
</div>

</body>