@model SistemaExperto.Models.EstacionConstantes

@{
    ViewBag.Title = "Editar";
}

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/EstacionConstantes">Estación constantes</a></li>
    <li class="active">Editar constantes</li>
</ol>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Scripts -->
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/saat.js"></script>
<script src="~/Scripts/jasny-bootstrap.js"></script>
<script>
    $("select").addClass("form-control")
</script>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--título-->
    <h2>Editar constante</h2>
    <hr />

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EstacionConstantesId)
        <div class="row">
            <div class="col-md-8">

                @*<div class="form-group">
                    @Html.LabelFor(model => model.EstacionId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EstacionId)
                        @Html.ValidationMessageFor(model => model.EstacionId)
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.EstacionId, "EstacionId", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("EstacionId", String.Empty)
                        @Html.ValidationMessageFor(model => model.EstacionId)
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.EstacionTipoConstanteId, "EstacionTipoConstanteId", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("EstacionTipoConstanteId", String.Empty)
                        @Html.ValidationMessageFor(model => model.EstacionTipoConstanteId)
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.EstacionValoresId, "EstacionValoresId", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("EstacionValoresId", String.Empty)
                        @Html.ValidationMessageFor(model => model.EstacionValoresId)
                    </div>
                </div>

                <!-- Botón editar -->
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <br />
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>
    }

</div>