@model IEnumerable<SistemaExperto.Models.ZonaEstacion>

@{
    ViewBag.Title = "Datos zona estacion";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Estaciones asignadas</h2>
    <hr />

    <!--Botón Crear-->
    <p>
        <a class="btn btn-primary" href="~/ZonaEstacion/Crear/@ViewBag.ZonaSeleccionada" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Asignar estación</a>
    </p>
    <hr />

    <!--Tabla Index-->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacion.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Zona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estacion.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Porcentaje)
                </td>
                <td>
                    <a class="btn btn-default" href="~/ZonaEstacion/Detalles/@item.ZonaEstacionId" role="button"><span class="glyphicon glyphicon-file"></span></a>
                    <a class="btn btn-default" href="~/ZonaEstacion/Editar/@item.ZonaEstacionId" role="button"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-default" href="~/ZonaEstacion/Eliminar/@item.ZonaEstacionId" role="button"><span class="glyphicon glyphicon-remove-circle"></span></a>
                </td>
            </tr>
        }
    </table>

 </div>