@model IEnumerable<SistemaExperto.Models.Departamento>
@{
    ViewBag.Title = "Pais";
}

<!-- Variable con ruta hacia el servidor de mapas -->
@{string servidorMapas = @System.Web.Configuration.WebConfigurationManager.AppSettings["ServidorMapas"];}

<!-- Llamado al script de pais correspondiente -->
<script>
    var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
    var rutaServidor = '@(servidorMapas)';
    var dptos = '';
    @foreach (var departamento in Model)
    {
        <text>
    dptos = dptos + '@departamento.CodigoDane,';
    </text>
    }
</script>
<script>
    $(document).ready(function () {
        $("#modal-carga-mapas").modal({
            keyboard: false,
            show: true,
            backdrop: 'static'
        });
    });
</script>

<style>
    .jumbotron {
        background-color: lightgrey;
    }

    .container .jumbotron {
        border-radius: 0px;
    }

    .side-bar {
        margin-left: 175px;
    }

    .tooltip-inner {
        white-space: nowrap;
    }
</style>

<div class="container-fluid">
    <div id="load"></div>

    <!-- Ruta de navegación -->
    <ol class="breadcrumb">
        <li class="active">Colombia</li>
        <li>
            <a href="#" onclick="toggleGlobo()">
                Seleccione un departamento
            </a>
            <div class="globo-breadcrumb contenedor-caja-flecha departamentos none" id="globo-seleccion-departamento">
                <div class="globo-seccion caja-flecha">
                    <ul style="padding-left: 0px; margin-bottom: 0px;">
                        @foreach (var departamento in Model)
                        {
                            if (!departamento.CodigoDane.Contains("999"))
                            {
                                <li class="padding-elemento"><a href="~/Regional/Departamento?codigoDane=@departamento.CodigoDane" style="color:white">@departamento.Nombre</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </li>
    </ol>

    <div id="map" class="map">
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </div>
</div>

<!--Modal de error en la carga de mapa-->
<div class="modal fade" id="modal-error-carga">
    <div class="modal-dialog modal">
        <div class="modal-content" style="border-color:#B7522D; border-width:3px; margin-top:20px; margin-bottom:20px; border-radius:30px;">
            <div class="row">
                <div class="modal-body col-md-8 col-md-offset-2">
                    <p class="text-center" style="font-size:1.1em; font-weight:bold;color:#32ACDF; margin-top:30px;">
                        Error al cargar la información cartográfica
                    </p>
                </div>
                <div class="modal-body col-md-10 col-md-offset-1">
                    <p class="text-justify" style="font-size:0.9em;">
                        Se ha presentado un error al consultar información desde el servidor de mapas.
                        <br /><br />
                        Por favor, intente más tarde.
                    </p>
                </div>
            </div>
            <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                <button type="button" style="border-color:green; color:green" class="btn btn-default" data-dismiss="modal" id="registro">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/estilos_layers.js?200"></script>
<script src="~/Scripts/se_regional.js?200"></script>
<script src="~/Scripts/se_pais.js?200"></script>