@model SistemaExperto.Models.Cultivo

@{
    ViewBag.Title = "Crear cultivo";
}

<!-- Scripts -->
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/se.js"></script>

<script>
    $("select").addClass("form-control")
</script>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Cultivo">Cultivos</a></li>
    <li class="active">Crear cultivo</li>
</ol>



<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Crear cultivo</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="row">

                <div class="col-md-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Descripcion, new { Rows = "6", @style = "width:100%", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TiempoInicial, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TiempoInicial, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TiempoInicial)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TiempoDesarrollo, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TiempoDesarrollo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TiempoDesarrollo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TiempoMedia, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TiempoMedia, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TiempoMedia)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TiempoFinal, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.TiempoFinal, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TiempoFinal)
                        </div>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ZrMin, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ZrMin, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.ZrMin)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ZrMax, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.ZrMax, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.ZrMax)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.JMin, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.JMin, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.JMin)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.JMax, new { @class = "control-label col-md-6 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.JMax, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.JMax)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KInicial, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.KInicial, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.KInicial)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KMedia, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.KMedia, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.KMedia)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KFinal, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.KFinal, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.KFinal)
                        </div>
                    </div>

                    <div class="form-group none">
                        @Html.LabelFor(model => model.RutaIcono, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.RutaIcono, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RutaIcono)
                        </div>
                    </div>

                    <div class="form-group none">
                        @Html.LabelFor(model => model.RutaImagen, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.RutaImagen, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RutaImagen)
                        </div>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ACInicial, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ACInicial, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.ACInicial)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ACMedia, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ACMedia, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.ACMedia)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ACFinal, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.ACFinal, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                            @Html.ValidationMessageFor(model => model.ACFinal)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IndicadorMapa, new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.IndicadorMapa, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.IndicadorMapa)
                        </div>
                    </div>
                    <div class="cuadro-presentacion">
                        <h4 class="col-md-10 titulo-presentacion titulo-presentacion-rojo text-center" style="z-index:99;width:100%">
                            <span>
                                SE Versión 2
                            </span>
                        </h4>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.GrupoCultivoId, "Grupo", new { @class = "control-label col-md-4 textoModelObliga" })
                        <div class="col-md-6">
                            @Html.DropDownList("GrupoCultivoId", String.Empty)
                            @Html.ValidationMessageFor(model => model.GrupoCultivoId)
                        </div>
                    </div>

                    <!-- Botón eliminar -->
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <br />
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    }
</div>