@model SistemaExperto.Models.Cultivo

@{
    ViewBag.Title = "Cultivo";
}

<!-- Scripts -->
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Cultivo">Cultivos</a></li>
    <li class="active">@Model.Nombre</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">
    <!-- Título -->
    <h2>Cultivo</h2>

    <div class="col-xs-12 col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TiempoInicial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiempoInicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TiempoDesarrollo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiempoDesarrollo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TiempoMedia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiempoMedia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TiempoFinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TiempoFinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ZrMin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZrMin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ZrMax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZrMax)
            </dd>

           

        </dl>
    </div>

    <div class="col-xs-12 col-md-6">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.JMin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JMin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JMax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JMax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KInicial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KInicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KMedia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KMedia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.KFinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KFinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACInicial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACInicial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACMedia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACMedia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACFinal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACFinal)
            </dd>
           
            <dt>
                Grupo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GrupoCultivo.Nombre)
            </dd>
        </dl>
    </div>
</div>