@model SistemaExperto.Models.OpcionesVisualizacion

@{
    ViewBag.Title = "Detalles";
}

<<!-- Scripts -->
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/OpcionesVisualizacion">Opciones visualización</a></li>
    <li class="active">Detalles Opción </li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!-- título -->
    <h2>Opción visualización de capa</h2>


    <div class="row">
        <div class="col-xs-12 col-md-6">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Capa.NombreCaracterizacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Capa.NombreCaracterizacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombreTipoOpcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreTipoOpcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombreOpcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreOpcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombreOpcionJScript)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreOpcionJScript)
                </dd>

            </dl>
        </div>
    </div>
</div>