@model SistemaExperto.Models.CapasDepartamentos

@{
    ViewBag.Title = "Crear capa departamento";
}

<!-- Scripts -->
<script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/saat.js"></script>

<!-- Estilos -->
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/CapasDepartamentos">Capas departamento</a></li>
    <li class="active">Crear capa departamento</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Crear capa para departamento</h2>
    <hr />



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <div class="row">

                <div class="form-group">
                    @Html.LabelFor(model => model.CapaId, "Capa", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("CapaId", String.Empty)
                        @Html.ValidationMessageFor(model => model.CapaId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartamentoId, "Departamento", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("DepartamentoId", String.Empty)
                        @Html.ValidationMessageFor(model => model.DepartamentoId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Visible, new { @class = "control-label col-md-4" })
                    <div class="col-md-1">
                        @Html.CheckBoxFor(model => model.Visible, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Visible)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExplicacionMapa, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        
                        @Html.TextAreaFor(model => model.ExplicacionMapa, new { Rows = "6", @style = "width:100%", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExplicacionMapa)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $("select").addClass("form-control")
</script>
