@model SistemaExperto.Models.ZonaEstacion

@{
    ViewBag.Title = "Asignar estación";
}

<!-- Scripts -->
<script src="~/Scripts/bootstrap-select.js"></script>
@*<script src="~/Scripts/saat.js"></script>*@

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/Zona">Zonas</a></li>
    <li class="active">Asignar estación</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">
   
     <!--Título-->
    <h2>Asignar estación</h2>
    <hr />

    @using (Html.BeginForm())
    {
   
    <!-- Mensaje de error -->
    <div class="bg-danger">@ViewBag.MensajeError</div>
        
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.ZonaId, "Zona", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("ZonaId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ZonaId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstacionId, "Estacion", new { @class = "control-label col-md-4" ,@id = "Estacion"})
                    <div class="col-md-8">
                        @Html.DropDownList("EstacionId", String.Empty)
                        @Html.ValidationMessageFor(model => model.EstacionId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Porcentaje, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Porcentaje, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.Porcentaje)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaET, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaET, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaET)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaPE, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaPE, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaPE)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaRO, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaRO, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaRO)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaPRO, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaPRO, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaPRO)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaR, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaR, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaR)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaPR, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaPR, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaPR)
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaL, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaL, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaL)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaPL, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaPL, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaPL)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CantidadCadenas, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CantidadCadenas, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CantidadCadenas)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaKs, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaKs, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaKs)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaZs, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaZs, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaZs)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaX1s, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaX1s, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaX1s)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaX2s, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaX2s, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaX2s)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CadenaX3s, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CadenaX3s, new { @class = "form-control", onblur = "reemplazarPunto(this)" })
                        @Html.ValidationMessageFor(model => model.CadenaX3s)
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <span class="help-block">Digite las cadenas con los 12 valores, separados por ;</span>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    }
</div>
    <script>
        $("select").addClass("form-control")
    </script>
