@model SistemaExperto.Models.EstacionValores

@{
    ViewBag.Title = "Eliminar";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/EstacionTipoConstantes">Estación valores</a></li>
    <li class="active">Editar valor de constante</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Eliminar valor</h2>
    <hr />

    <!-- Datos -->
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Enero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Febrero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Febrero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marzo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abril)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abril)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mayo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mayo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Junio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Junio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Julio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Julio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Agosto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Agosto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Septiembre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Septiembre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Octubre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Octubre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Noviembre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Noviembre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Diciembre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Diciembre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <!-- Botón eliminar -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <br />
                    <input type="submit" value="Eliminar" class="btn btn-primary" />

                </div>
            </div>
        }
    </div>
</div>
