@model SistemaExperto.Models.Usuario

@{
    //Página de inicio sin layout
    Layout = null;
}

<!-- Inicio de página -->
<!DOCTYPE html>
<html lang="es">
<!-- Encabezado -->
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STQT9TVNEK"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-STQT9TVNEK'); </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sistema Experto</title>

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
    <script src="~/Scripts/bootstrap-3.2.js"></script>
    <script src="~/Scripts/se.js?200"></script>
    <link href="~/Content/css/bootstrap.min.css?200" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css?200" rel="stylesheet" />
    <link href="~/Content/css/se.css?200" rel="stylesheet" />
    <link href="~/Content/css/main.css?200" rel="stylesheet" />
    <link href="~/Content/css/SistemaExperto.css?200" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css?200" rel="stylesheet" />

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <script>
        $(document).ready(function () {
            if ("@Html.Raw(TempData["MensajeAutenticar"])"!="" || "@Html.Raw(TempData["MensajeCambiarClave"])"!="" || "@Html.Raw(TempData["MensajeRegistrar"])"!="")
            {
                var anchor = document.getElementById('sec1');
                anchor.scrollIntoView(true);
            }
            var usuarioAutorizado = @User.Identity.IsAuthenticated.ToString().ToLower();
            if (usuarioAutorizado) {
                $("#salir").removeClass('none');
            }
            else
            {
                $("#modal").modal({
                    keyboard: false,
                    show: true,
                    backdrop: 'static'
                });
                $("#salir").addClass('none');
                $("#administrar").addClass('none');
            }

            $('#terminos').click(function() {
                /* when the button in the form, display the entered values in the modal */
                $('#lname').html($('#lastname').val());
                $('#fname').html($('#firstname').val());
            });

            $('#registro').click(function(){
                $('#Registrar').submit();
            });

            $('.carousel').carousel({
                interval: 15000
            });

            var images = ['FondoSE_1.jpg', 'FondoSE_2.jpg', 'FondoSE_3.jpg', 'FondoSE_4.jpg', 'FondoSE_5.jpg', 'FondoSE_6.jpg'];
            var rand = Math.floor(Math.random() * images.length);
            var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
            if (raiz.length == 1)
            {
                raiz = "";
            }
            console.log('Raiz: '+raiz + '- Dirección: '+'url('+raiz+'/Content/imagenes/' + images[rand] + ')');
            $('#encabezado1').css({'background-image': 'url('+raiz+'/Content/imagenes/' + images[rand] + ')'});
        });
    </script>

    <style>
        #boton-centrado {
            display: flex;
            justify-content: center;
            align-items: center; /* Centra verticalmente */
            height: 100px; /* Ajusta según sea necesario */
        }

        body {
            padding-top: 50px;

        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

        .enlace-pie {
            color: #808080;
        }

            .enlace-pie:hover, .enlace-pie:active {
                color: #662D91;
            }

        .imagen-centrar-vertical {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        .form-control::-webkit-input-placeholder {
            color: lightgray;
        }

        .form-control:-moz-placeholder {
            color: lightgray;
        }

        .form-control::-moz-placeholder {
            color: lightgray;
        }

        .form-control:-ms-input-placeholder {
            color: lightgray;
        }

        .enlace-inicio {
            color: #75C9EB !important;
            text-align: center;
            font-size: 0.8em;
            margin-top: 5px;
        }

        .enlace-condiciones {
            color: #662D91;
            text-decoration: underline;
        }

        .navbar-brand {
            padding: 5px 15px;
        }

        body {
            padding-top: 100px;
        }

        .navbar-default {
            background-color: white;
            border-color: white;
        }
    </style>
</head>
<!-- Cuerpo -->
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="~/Inicio/">
                        <img class="img-responsive" src="~/Content/imagenes/logos/logoSE2.png" style="max-height:88px" alt="">
                    </a>
                </div>
            </div>

            <div id="navbar" class="navbar-collapse collapse" style="padding-top: 30px; padding-left:150px;  vertical-align: middle; font-size:1.1em;">
                @using (Html.BeginForm("Autenticar", "Usuario", FormMethod.Post, new { @class = "form center-block" }))
                {

                    <ul class="nav navbar-nav navbar-right">

                        <li class="texto-barra-superior">
                            <button type="submit" class="btn btn-success" style="text-align: center;"> Ingresar <br /> </button>
                        </li>

                        <li class="texto-barra-superior">
                            <button href="https://www.agrosavia.co/atenci%C3%B3n-al-usuario" class="btn btn-outline-info">Atención al usuario</button>
                        </li>

                    </ul>
                }

            </div>

        </div>
    </nav>

    <!--Inicio-->
    <div class="alt vert" id="encabezado1">
        <!--Globos de información-->
        <div class="row" style="font-size:1em; height:700px">
            <div class="col-md-4 col-sm-6 col-xs-8 col-lg-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="top:121px;">

                <div class="row globos negrilla">
                    <div class="col-md-1 extra-negrilla flecha-inicio">
                        <svg height="20px"
                             width="18px">
                            <g id="layer1"
                               transform="matrix(1.0000304,0,0,1.0000304,-351.79193,-265.7405)">
                                <path d="m 357.26873,275.21934 -5.4875,-9.4875 16.4375,9.4875 -16.4375,9.4875 5.4875,-9.4875 z"
                                      style="fill: #CE1524; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                                      id="path3574" />
                            </g>
                        </svg>
                    </div>
                    <div class="col-md-11 texto-inicio">
                        <div class="row" style="padding-right: 20px; text-align:justify;">Sistema de apoyo a la toma de decisión agroclimáticamente inteligente</div>
                        <div class="row" style="padding-right: 20px; font-weight:bolder; text-align:justify;"><hr style="color: #CE1524; border: 1px solid" /></div>
                    </div>
                </div>

                <div class="row globos">
                    <div class="col-md-1 extra-negrilla flecha-inicio">
                        <svg height="20px"
                             width="18px">
                            <g id="layer1"
                               transform="matrix(1.0000304,0,0,1.0000304,-351.79193,-265.7405)">
                                <path d="m 357.26873,275.21934 -5.4875,-9.4875 16.4375,9.4875 -16.4375,9.4875 5.4875,-9.4875 z"
                                      style="fill: #006433; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                                      id="path3574" />
                            </g>
                        </svg>
                    </div>
                    <div class="col-md-11 texto-inicio">
                        <div class="row" style="padding-right: 20px; text-align:justify;">MAPA: Modelos de Adaptación y Prevención Agroclimática</div>
                        <div class="row" style="padding-right: 20px; text-align:justify;"><hr style="color: #006433; border: 1px solid" /></div>
                    </div>
                </div>

                <div class="row globos">
                    <div class="col-md-1 extra-negrilla flecha-inicio">
                        <svg height="20px"
                             width="20px">
                            <g id="layer1"
                               transform="matrix(1.0000304,0,0,1.0000304,-351.79193,-265.7405)">
                                <path d="m 357.26873,275.21934 -5.4875,-9.4875 16.4375,9.4875 -16.4375,9.4875 5.4875,-9.4875 z"
                                      style="fill: #831F82; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                                      id="path3574" />
                            </g>
                        </svg>
                    </div>
                    <div class="col-md-11 texto-inicio">
                        <div class="row" style="padding-right: 20px; text-align:justify; font-size:0.9em;">
                            Herramienta tecnológica que contribuye con conocimiento experto al aumento de la capacidad local de tomar decisiones encaminadas a mejorar la adaptación de los sistemas de cultivo al cambio climático y la variabilidad climática de Colombia.</a>
                        </div>
                        <div class="row" style="padding-right:20px"><hr style="color: #831F82; border: 1px solid" /></div>
                    </div>
                </div>

                <div class="row globos">
                    @using (Html.BeginForm("Autenticar", "Usuario", FormMethod.Post, new { @class = "form center-block" }))
                    {

                        <div id="boton-centrado" class="col-md-11 texto-inicio" style="display: flex; justify-content: center;">
                            <button class="btn btn-success" type="submit">
                                <img src="~/Content/imagenes/logos/login_mapa.png" />
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>



        <!--Logos-->
        <div class="row hidden-xs" style="background-color:white; padding: 10px 0 10px 0; height:100px; margin-top:0px;">
            <!--<div class="col-md-3 col-sm-3 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/slogan_pais.png" />
            </div>-->
            <div class="col-md-4 col-sm-4 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/fondo_adaptacion.png" />
            </div>
            <div class="col-md-4 col-sm-4 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/LogoMADR.png" />
            </div>
            <div class="col-md-4 col-sm-4 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/logo-agrosavia.png" />
            </div>
        </div>

        <div class="row" style="background-color:transparent; height:50px;">

        </div>

        <!--Pie de contenedor inicial-->
        <div class="row hidden-xs text-left" style="background-color:#F2F2F2;color:#808080; height:7%; font-size:0.9em; padding-top:20px; padding-bottom:20px;">
            <span style="padding-left:100px; padding-right:25px;">&copy;AGROSAVIA 2024</span>
            <a href="#" class="enlace-pie" data-toggle="modal" data-target="#modal-terminos">
                <span style="padding-right:25px;">Condiciones de uso</span>
            </a>
            <a href="#" class="enlace-pie" data-toggle="modal" data-target="#modal-acerca">
                <span style="padding-right:25px;">Descubre más sobre nosotros</span>
            </a>
            <!--<a href="#" class="enlace-pie" data-toggle="modal" data-target="#modal-politica">
                <span style="padding-right:25px;">Políticas de privacidad</span>
            </a>
            <a href="#" class="enlace-pie" data-toggle="modal" data-target="#modal-contacto">
                <span style="padding-right:25px;">Contacto</span>
            </a>-->
        </div>
    </div>


    <div id="sec1" class="seccion-ingreso">
        <div class="container" style="background-color:#F2F2F2;">

            <!--Introducción-->
            <div class="row" style="padding-bottom:30px;">
                <div class="col-md-2 hidden-sm hidden-xs">
                    <img class="img-responsive center-block" src="~/Content/imagenes/Logos/logo_mapa.png" style="max-height:200px; padding-top:50px;" alt="">
                </div>
                <div class="col-md-10" style="padding:0 75px 0 75px;">
                    <p class="text-justify">
                        Herramienta tecnológica que contribuye con conocimiento experto al aumento de la capacidad local de tomar decisiones encaminadas a mejorar la adaptación de los sistemas de cultivo al cambio climático y la variabilidad climática. Ésta herramienta se concibe como una plataforma de aprendizaje con enfoque de agricultura climáticamente inteligente*, compuesta por cinco módulos: el módulo A ó “SE-MAPA Estudiemos el territorio”, contiene los resultados más relevantes del proyecto MAPA, con el objetivo de fortalecer la capacidad técnica de los asistentes técnicos; el módulo B ó “Cálculo de Agua - Rendimiento”, permite de manera pedagógica la estimación de las tendencias de agua - rendimiento en cultivos como: tomate, papa, plátano, maíz y fríjol, utilizando datos climáticos y de suelos propios o los contenidos de manera demostrativa de algunas estaciones meteorológicas a lo largo del territorio en años de clima contrastante (periodos El Niño, La Niña y de neutralidad); el módulo C ó “Glosario Especializado”, contiene un catálogo de expresiones ampliamente utilizado en el esquema del proyecto MAPA; los módulos D y E son sistemas de información agro-climática para los cultivos de papa y cebolla de bulbo ocañera respectivamente.
                    </p>
                    <p style="font-size:0.9em; text-align: justify;">
                        *Promover la seguridad alimentaria y aumentar la productividad de los sistemas agrícolas, permitiendo que los rendimientos sean más estables y que a largo plazo tengan mayor resiliencia a los riesgos, las crisis y la variabilidad climática. (FAO, 2013).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr style="background-color:white; height:3px;" />


</body>

</html>

<!-- Modal de condiciones de uso -->
<div class="modal fade" id="modal-registro">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-color:#B7522D; border-width:3px; margin-top:20px; margin-bottom:20px; border-radius:30px;">
            <div class="row">
                <div class="modal-body col-md-8 col-md-offset-2">
                    <p class="text-center" style="font-size:1.1em; font-weight:bold;color:#32ACDF; margin-top:30px; margin-bottom:30px;">Condiciones de uso</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Bienvenido al Sistema Experto MAPA.
                        <br /><br />
                        El SE-MAPA es un sistema de apoyo a la toma de decisión agroclimáticamente inteligente, conformado por cinco módulos: módulo A ó “SE - MAPA estudiemos el territorio”, el módulo B ó “Cálculo de Agua - Rendimiento”, módulo C ó “Glosario Especializado”, el módulo D o Sistema de Información Agroclimática para Papa y el módulo E u OCAÑERA.
                        <br /><br />
                        El módulo A está conformado por dos escalas, una regional que incluye la información departamental, municipal y una escala local a nivel de una serie de cultivos en parcelas de productores, que ayuda al usuario a tener una mejor comprensión del territorio desde el punto de vista climático y de su vulnerabilidad. El módulo B permite la construcción de la curva rendimiento para una serie de cultivos predeterminados, a partir de series climáticas y datos de suelos propios del usuario o los almacenados en el sistema en años de contraste climático. El módulo C contiene las expresiones más importantes en ejecución del proyecto MAPA. El módulo D contiene información de papa, en especial la descripción climática de un nicho productivo en Cundinamarca y modelos de balance hídrico y carbono para el tubérculo en zonas que cuentan con información con información agrometeorológica en tiempo cuasi-real, modelos cuyos parámetros pueden ser ajustados por el usuario. El módulo E contiene información agroclimática para el cultivo de cebolla de bulbo ocañera para la provincia de Ocaña (Norte de Santander), donde se incluye un modelo de balance hídrico, monitoreo meteorológico en tiempo cuasi-real y distribución espacial de indicadores de calidad de agua, suelo y oferta ambiental.
                        <br /><br />
                        La información provista a través de este portal no sustituye la opinión de un profesional o asistente técnico capacitado.
                        <br /><br />
                        Usted asume la responsabilidad por la forma como decide utilizar esta información. Los autores reconocen que el sistema tiene limitaciones y por lo tanto SE-MAPA no sustituye ninguna otra herramienta similar; por el contrario, es una herramienta que complementa el conocimiento que usted tiene del territorio para que pueda hacer una mejor gestión del riesgo agroclimático.
                    </p>
                </div>
            </div>
            <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                <button type="button" style="border-color:green; color:green" class="btn btn-default" data-dismiss="modal" id="registro">Aceptar</button>
                <button type="button" style="border-color:red; color:red" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de términos de uso -->
<div class="modal fade" id="modal-terminos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-color:#B7522D; border-width:3px; margin-top:20px; margin-bottom:20px; border-radius:30px;">
            <div class="row">
                <div class="modal-body col-md-8 col-md-offset-2">
                    <p class="text-center" style="font-size:1.1em; font-weight:bold;color:#32ACDF; margin-top:30px; margin-bottom:30px;">Condiciones de uso</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Bienvenido al Sistema Experto MAPA.
                        <br /><br />
                        El SE-MAPA es un sistema de apoyo a la toma de decisión agroclimáticamente inteligente, conformado por cinco módulos: módulo A ó “SE - MAPA estudiemos el territorio”, el módulo B ó “Cálculo de Agua - Rendimiento”, módulo C ó “Glosario Especializado”, el módulo D o Sistema de Información Agroclimática para Papa y el módulo E u OCAÑERA.
                        <br /><br />
                        El módulo A está conformado por dos escalas, una regional que incluye la información departamental, municipal y una escala local a nivel de una serie de cultivos en parcelas de productores, que ayuda al usuario a tener una mejor comprensión del territorio desde el punto de vista climático y de su vulnerabilidad. El módulo B permite la construcción de la curva rendimiento para una serie de cultivos predeterminados, a partir de series climáticas y datos de suelos propios del usuario o los almacenados en el sistema en años de contraste climático. El módulo C contiene las expresiones más importantes en ejecución del proyecto MAPA. El módulo D contiene información de papa, en especial la descripción climática de un nicho productivo en Cundinamarca y modelos de balance hídrico y carbono para el tubérculo en zonas que cuentan con información con información agrometeorológica en tiempo cuasi-real, modelos cuyos parámetros pueden ser ajustados por el usuario. El módulo E contiene información agroclimática para el cultivo de cebolla de bulbo ocañera para la provincia de Ocaña (Norte de Santander), donde se incluye un modelo de balance hídrico, monitoreo meteorológico en tiempo cuasi-real y distribución espacial de indicadores de calidad de agua, suelo y oferta ambiental.
                        <br /><br />
                        La información provista a través de este portal no sustituye la opinión de un profesional o asistente técnico capacitado.
                        <br /><br />
                        Usted asume la responsabilidad por la forma como decide utilizar esta información. Los autores reconocen que el sistema tiene limitaciones y por lo tanto SE-MAPA no sustituye ninguna otra herramienta similar; por el contrario, es una herramienta que complementa el conocimiento que usted tiene del territorio para que pueda hacer una mejor gestión del riesgo agroclimático.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                    <button type="button" style="border-color:green; color:green" class="btn btn-default" id="registro" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Aceca de -->
<div class="modal fade" id="modal-acerca">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-color:#B7522D; border-width:3px; margin-top:20px; margin-bottom:20px; border-radius:30px;">
            <div class="row">
                <div class="modal-body col-md-8 col-md-offset-2">
                    <p class="text-center" style="font-size:1.1em; font-weight:bold;color:#32ACDF; margin-top:30px; margin-bottom:30px;">Créditos</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Versión 1.0 (Comprende la primera versión del Módulo A desplegada en el 2016): Juan C. Martínez M., Andrea O. Rodriguez R., Jeimy Jimenez S., Douglas A. Gómez L., Blanca A. Arce B., Martha M. Bolaños B., Gustavo A. Araujo C. & Fabio E. Martinez M.
                        <br /><br />
                        Versión 2.0 (Comprende una versión mejorada del Módulo A, así como el desarrollo del Módulo B y C desplegada en el 2017): Juan C. Martínez M., Andrea O. Rodriguez R., Jeimy Jimenez S., Douglas A. Gómez L.
                        <br /><br />
                        Los autores contribuyeron en las diferentes fases del sistema: levantamiento y análisis de la información, estructuración y definición de componentes, pilotos, implementación, despliegue y puesta en producción.
                        <br /><br />
                        Desarrollado por el Ing. Eduardo González. <br />
                        Correo electrónico de contacto: semapa@agrosavia.co.
                    </p>
                    <p class="text-center" style="font-size:1.1em; font-weight:bold;color:#32ACDF; margin-top:30px; margin-bottom:30px;">Financiamiento</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        El SE-MAPA fue financiado por el Fondo Adaptación
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                    <button type="button" style="border-color:green; color:green" class="btn btn-default" id="registro" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .contenedor-logos div {
        /* The vertical alignment magic */
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .carousel-inner > .item {
        -webkit-transition: 1.5s ease-in-out left;
        -moz-transition: 1.5s ease-in-out left;
        -o-transition: 1.5s ease-in-out left;
        transition: 1.5s ease-in-out left;
    }
</style>