@model SistemaExperto.Models.Zona

@{
    ViewBag.Title = "Resultados";
}

<!-- Scripts -->
<script src="~/Scripts/date.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script src="~/Scripts/calendario-es.js"></script>
<script src="~/Scripts/jquery.flot.js"></script>
<script src="~/Scripts/jquery.flot.categories.min.js"></script>
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />

<!-- Estilos -->
<link href="~/Content/css/fullcalendar.min.css" rel="stylesheet" />
<style>
    h2 {
        font-size: 1.7em;
    }

    .demo-placeholder {
        width: 520px;
        height: 500px;
        font-size: 1em;
        line-height: 1.3em;
        left: 30px;
    }

    .fc-day-header {
        font-size: 0.9em;
    }

    .fc-toolbar > .fc-center > h2 {
        font-size: 1.1em;
    }

    .fc-day-grid .fc-row {
        height: 100px !important;
    }

    .fc-head {
        color: #1273B9;
        border-style: none;
    }

    table.ui-datepicker-calendar tbody td.highlight > a {
        background: #FFEB80;
        color: #363636;
        border: 1px solid #FFDE2E;
    }

    .fc-day-header, .fc-widget-header {
        font-size: 1.1em;
        border-style: none !important;
    }

    .fc-widget-content {
        border-style: none !important;
    }

    .fc-bg > table {
        border-style: none !important;
        border-collapse: separate;
        border-spacing: 4px;
    }

    .fc-day {
        background-color: #F5F5F5;
        border-color: #C4C4C4;
        border-width: 3px !important;
        border-style: solid !important;
    }

    .axisLabel {
        position: absolute;
        text-align: center;
        font-size: 14px;
    }

    .xaxisLabel {
        bottom: -25px;
        left: 0;
        right: 0;
    }

    .yaxisLabel {
        top: 50%;
        margin-top: 50px;
        left: -30px;
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .cuadro-requerimiento {
        border: 2px solid #BBB;
        border-radius: 15px;
    }

    .titulo-requerimiento {
        font-size: 0.9em;
        font-weight: bold;
        height: 70px;
    }

    #alerta-requerimiento {
        border-width: 4px;
    }

    .cuadros-alertas {
        padding-right: 5px;
        padding-left: 5px;
    }

    .bordes-cuadros {
        /*padding-left: 3px;
        padding-right: 3px;*/
        padding: 3px;
    }

    .convencion-grafica {
        padding-top: 0px;
        font-size: 0.85em;
    }

    .caja-convencion-grafica {
        padding-top: 5px;
        padding-left: 80px;
    }
</style>

<section id="header" class="appear"></section>
<!-- Ruta de navegación -->
<section class="Encabezado">
    <ol class="breadcrumb barra-local">
        <li><a href="~/Inicio">Inicio</a></li>
        <li><a href="~/Regional/Pais">Regional</a></li>
        <li><a href="~/Alerta/Presentacion?ZonaId=@Model.ZonaId">Módulo local</a></li>
        <li><a href="~/Alerta/Siembra?ZonaId=@Model.ZonaId">Fecha de siembra</a></li>
        <li class="active">Resultados</li>
    </ol>
</section>

<!-- Contenedor principal -->
<div class="container">

    <!--Primera fila (etapa y requerimiento)-->
    <div class="col-md-12">

        <!--Cuadro de gráfica-->
        <div class="col-md-6 contenedor-presentacion-requerimiento" style="height:600px;">
            <div class="cuadro-presentacion">
                <h4 class="titulo-presentacion titulo-presentacion-rojo text-center" style="z-index:99">
                    <span>
                        ¿Cómo se ha comportado la disponibilidad hídrica en la zona?
                    </span>
                </h4>
                <br /><br />
                <div class="panel-body">
                    <div class="col-md-12">
                        <p class="textoDetalle">

                        </p>
                    </div>
                    <div class="col-md-12">
                        <div id="sales-charts" class="demo-placeholder" style="height:400px;"></div>
                    </div>
                </div>

                <div class="caja-convencion-grafica">
                    <p class="convencion-grafica">
                        <i class="fa fa-square" aria-hidden="true" style="color:#00F"></i>
                        Precipitación
                        <i class="fa fa-square" aria-hidden="true" style="color:#F61"></i>
                        ETo
                    </p>
                </div>
            </div>
        </div>

        <!--Cuadro de etapa-->
        <div class="col-md-6 contenedor-presentacion-requerimiento" style="height:600px;">
            <div class="cuadro-presentacion">
                <h4 class="titulo-presentacion titulo-presentacion-rojo text-center" style="z-index:99">
                    <span>
                        ¿En qué estado de desarrollo se encuentra el cultivo a la fecha?
                    </span>
                </h4>

                @if (ViewBag.Etapa == "Inicial")
                {
                    <div class="col-md-12">
                        <p class="texto-resultados" style="text-align:center"><strong>@ViewBag.Etapa</strong></p>
                        <p style="text-align:center;">
                            Está comprendida entre la fecha de siembra y el momento que el cultivo alcanza aproximadamente el 10% de cobertura del suelo. Su duración depende del tipo del cultivo, variedad, fecha de siembra y el clima.
                        </p>
                    </div>

                    <img class="img-responsive center-block imagen-presentacion-requerimiento" src="~/Content/imagenes/Etapa1.png" style="width:200px; padding-top:50px;" />
                }
                else if (ViewBag.Etapa == "Desarrollo")
                {
                    <div class="col-md-12">
                        <p class="texto-resultados" style="text-align:center"><strong>@ViewBag.Etapa</strong></p>
                        <p style="text-align:center;">
                            Está comprendida desde el momento en que la cobertura del suelo es de un 10% hasta el momento de alcanzar la cobertura efectiva completa, para algunos cultivos esto curre a inicias de la floración.
                        </p>
                    </div>

                    <img class="img-responsive center-block imagen-presentacion-requerimiento" src="~/Content/imagenes/Etapa2.png" style="width:150px; padding-top:50px;" />
                }
                else if (ViewBag.Etapa == "Media")
                {
                    <div class="col-md-12">
                        <p class="texto-resultados" style="text-align:center"><strong>@ViewBag.Etapa</strong></p>
                        <p style="text-align:center;">
                            Comprende el periodo de tiempo entre la cobertura completa hasta el comienzo de la madurez, es decir el inicio del amarillamiento generalizado o senescencia de las hojas y su caída.
                        </p>
                    </div>

                    <img class="img-responsive center-block imagen-presentacion-requerimiento" src="~/Content/imagenes/Etapa3.png" style="width:150px; padding-top:50px;" />
                }
                else if (ViewBag.Etapa == "Final")
                {
                    <div class="col-md-12">
                        <p class="texto-resultados" style="text-align:center"><strong>Etapa @ViewBag.Etapa</strong></p>
                        <p style="text-align:center;">
                            Comprende el periodo entre el inicio de la senescencia hasta el momento de la cosecha o la completa senescencia.
                        </p>
                    </div>

                    <img class="img-responsive center-block imagen-presentacion-requerimiento" src="~/Content/imagenes/Etapa4.png" style="width:150px; padding-top:50px;" />
                }

                <h4 class="text-center" style="color:#EF572F">
                    <span>
                        Día fenológico: @ViewBag.DiasCultivo correspondiente al @DateTime.Now.Day de @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month).ToString().ToLower() de @DateTime.Now.Year <br />(fecha de consulta)
                    </span>
                </h4>
            </div>
        </div>

    </div>

    <!--Segunda fila (gráfica y calendario)-->
    <div class="col-md-12">

        <!--Cuadro de requerimiento-->
        <div class="col-md-6 contenedor-presentacion-requerimiento" style="height:650px;">
            <div class="cuadro-presentacion">
                <h4 class="titulo-presentacion titulo-presentacion-rojo text-center" style="z-index:99">
                    <span>
                        ¿Es necesario regar el cultivo en la siguiente década?
                        <a href="#" data-toggle="modal" data-target="#modal-regar"><i class="fa fa-question-circle" style="color:white;font-size:1.2em;"></i></a>
                    </span>
                </h4>
                <div class="row" style="margin-left:10px; margin-right:10px; text-align:center">

                    <div class="col-md-4" style="padding-left:5px;padding-right:5px;text-align:center; padding-top:30px; padding-bottom:30px;">
                        <div class="col-md-12 cuadros-alertas">
                            <div class="cuadro-requerimiento titulo-requerimiento">
                                <p>Condición probable de precipitación <a href="#" data-toggle="modal" data-target="#modal-condicion"><i class="fa fa-question-circle" style="font-size:1.2em;"></i></a></p>
                            </div>
                            <div class="espacio-vertical-5"></div>
                            <div class="cuadro-requerimiento" style="height:170px;">
                                <div>
                                    <p style="font-size:1.5em; height:115px;">
                                        <br />
                                        @ViewBag.ProbabilidadCondicion
                                    </p>
                                </div>
                                @if (ViewBag.ProbabilidadCondicion != "Dato no calculado")
                                {
                                    <div class="texto_iconos">
                                        <h4></h4>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div id="alerta-requerimiento" class="cuadro-requerimiento col-md-8" style="padding-left:5px;padding-right:5px;text-align:center; padding-top:30px; padding-bottom:30px;">

                        <div class="col-md-5 col-md-offset-1 cuadros-alertas">
                            <div class="cuadro-requerimiento titulo-requerimiento">
                                <p>Precipitación probable <a href="#" data-toggle="modal" data-target="#modal-ppt"><i class="fa fa-question-circle" style="font-size:1.2em;"></i></a></p>
                            </div>
                            <div class="espacio-vertical-5"></div>
                            <div class="cuadro-requerimiento" style="height:170px;">
                                <div class="col-md-12" style="height:80%">
                                    <div class="col-md-6" style="height: 100%;">
                                        <div class="col-md-4 col-md-offset-4" style="background-color:blue; height:85%; top:10px;">
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="height: 100%;">
                                        <div class="col-md-12" style="font-size:1.8em;height: 90px;">
                                            @ViewBag.PptMax
                                        </div>
                                        <div class="col-md-12" style="font-size:1.8em;">
                                            @ViewBag.PptMin
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 texto_iconos">
                                    <h4>mm/década</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 cuadros-alertas">
                            <div class="cuadro-requerimiento titulo-requerimiento">
                                <p>Uso consuntivo (UC) <a href="#" data-toggle="modal" data-target="#modal-uso"><i class="fa fa-question-circle" style="font-size:1.2em;"></i></a></p>
                            </div>
                            <div class="espacio-vertical-5"></div>
                            <div class="cuadro-requerimiento" style="height:170px;">
                                <div>
                                    <p style="font-size:40px; height:115px;">
                                        <br />
                                        @ViewBag.UC
                                    </p>
                                </div>
                                <div class="texto_iconos">
                                    <h4>mm/década</h4>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row" style="font-size:0.8em; padding:15px;">
                    <!--Diferencia menor-->
                    <div class="col-md-4 cuadros-alertas">
                        <div class="col-md-12 cuadro-requerimiento bordes-cuadros" style="border-color:#30348F; height:80px; text-align:center">
                            <div class="col-md-12 bordes-cuadros">
                                UC es menor que la precipitación. No hay necesidad de riego
                            </div>
                        </div>
                    </div>

                    <!--Diferencia similar-->
                    <div class="col-md-4 cuadros-alertas">
                        <div class="col-md-12 cuadro-requerimiento bordes-cuadros" style="border-color:#FCC133; height:80px; text-align:center">
                            <div class="col-md-12 bordes-cuadros">
                                UC está cercano a la precipitación. No hay necesidad de riego
                            </div>
                        </div>
                    </div>

                    <!--Diferencia mayor-->
                    <div class="col-md-4 cuadros-alertas">
                        <div class="col-md-12 cuadro-requerimiento bordes-cuadros" style="border-color:#EB132B;         height:80px; text-align:center">
                            <div class="col-md-12 bordes-cuadros">
                                UC es mayor que la precipitación. Es necesario regar
                            </div>
                        </div>
                    </div>

                </div>

                <hr />

                <div class="col-md-12">
                    <p style="font-size:0.8em;">
                        <em>
                            Nota:
                            <br />
                            *Si desea conocer datos operacionales del riego (lamina bruta, frecuencia de riego, caudal del sistema, entre otros aspectos) tenga en cuenta el tipo de sistema de riego que posee, la eficiencia de aplicación, la densidad de siembra del cultivo, el área a humedecer por planta etc.
                            <br />
                            **Para convertir valores de lamina (mm) a volumen (m3/ha), el factor de conversión es 10.
                        </em>
                    </p>
                </div>

            </div>
        </div>

        <!--Cuadro de calendario-->
        <div class="col-md-6 contenedor-presentacion-requerimiento" style="height:650px;">
            <div class="cuadro-presentacion">
                <h4 class="titulo-presentacion titulo-presentacion-rojo text-center" style="z-index:99">
                    <span>
                        En caso de necesidad de riego, ¿cuándo debería regar?
                    </span>

                </h4>

                <br /><br />
                <div class="panel-body">
                    <div class="row" style="padding:20px;">
                        <div class="col-md-12">
                            <p class="textoDetalle">
                                Década de predicción:
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div id="calendar" class="CalendarioAlertas"></div>
                        </div>
                    </div>
                    <div class="espacio-superior-20"></div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:0.75em;">
                                <em>
                                    Nota: En el calendario se indica  una  fecha estimada de riego según las condiciones probables de precipitación y uso consuntivo para la década
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Modal de presentación de advertencias y errores-->
<div class="modal fade" id="modal-no-alerta">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>No se pueden presentar resultados para la fecha seleccionada</p>
                <code>@ViewBag.MensajeError</code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var requerimiento = @ViewBag.UC;
        var precipitacion = @ViewBag.PptDecada;
        if ( requerimiento > precipitacion * 1.1) {
            $("#alerta-requerimiento").css("border-color","#EB132B");
        }
        else if ( requerimiento < precipitacion * 0.9 ){
            $("#alerta-requerimiento").css("border-color","#30348F");
        }
        else {
            $("#alerta-requerimiento").css("border-color","#FCC133");
        }

    });

    $(document).ready(function() {
        var eventos = @Html.Raw(@ViewBag.Eventos);
        var fechaInicial = @Html.Raw(Json.Encode(@ViewBag.FechaInicial));

        var funcion=function(){
            var i=0;
            while (i < eventos.length) {
                eventos[i].start=eventos[i].start.toString('yyyy-MM-dd');
                i++;
            }
        };
        funcion();

        var fechaInicial = @Html.Raw(Json.Encode(@ViewBag.FechaInicial));
        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: 'title',
                right: ''
            },
            //defaultDate: fechaInicial,
            defaultView:'dosSemanas',
            views: {
                dosSemanas: {
                    type: 'basic',
                    duration: {weeks: 2},
                    rows: 2
                }},
            minTime: fechaInicial,
            editable: true,
            lang: 'es',
            eventLimit: true, // allow "more" link when too many events
            events: eventos,
            eventClick:  function(event, jsEvent, view) {
                $('#modalTitle').html(event.title);
                $('#modalBody').html(event.description);
                $('#eventUrl').attr('href',event.url);
            }
        });

        $(function() {

            var datosPpt = @Html.Raw(Json.Encode(@ViewBag.PptMes));
            //console.log(datosPpt);
            var datosETo = @Html.Raw(Json.Encode(@ViewBag.EToMes));
            //console.log(datosETo);
            var valorMaximoGrafica = @Html.Raw(Json.Encode(@ViewBag.ValorMaximoGrafica));
            var mesInicio = @Html.Raw(Json.Encode(@ViewBag.MesInicio));
            var mesActual=@Html.Raw(DateTime.Now.Month);
            if (mesInicio>mesActual) mesActual=mesActual+12;
            var meses=[];

            var d1 = [];
            for(var i = mesInicio; i < mesInicio + datosPpt.length; i++)
            {
                d1.push([i,datosPpt[i-mesInicio]]);
                meses.push([i,nombreMes(i)]);
            }

            var d2 = [];
            for(var i = mesInicio; i < mesInicio + datosETo.length; i++)
            {
                d2.push([i,datosETo[i-mesInicio]]);
            }

            console.log("Ppt: "+d1);
            console.log("ETo: "+d2);
            console.log("Meses: "+meses);

            function nombreMes(mes)
            {
                if (mes>12) mes = mes-12;
                switch(mes)
                {
                    case 1:
                        return "Enero"
                        break;
                    case 2:
                        return "Febrero"
                        break;
                    case 3:
                        return "Marzo"
                        break;
                    case 4:
                        return "Abril"
                        break;
                    case 5:
                        return "Mayo"
                        break;
                    case 6:
                        return "Junio"
                        break;
                    case 7:
                        return "Julio"
                        break;
                    case 8:
                        return "Agosto"
                        break;
                    case 9:
                        return "Septiembre"
                        break;
                    case 10:
                        return "Octubre"
                        break;
                    case 11:
                        return "Noviembre"
                        break;
                    case 12:
                        return "Diciembre"
                        break;
                }
            }

            //var data = [
            //    { data: d1, label: "Precipitación", color: "#00f" },
            //    { data: d2, label: "ETo", color: "#f61" }
            //];

            var data = [
                { data: d1, color: "#00f" },
                { data: d2, color: "#f61" }
            ];

            var placeholder = $("#sales-charts");

            var markings = [
                { color: "#f8f5db", xaxis: { from: mesInicio, to: mesActual} },
                { color: "#d9f7f7", xaxis: { from: mesActual-0.33, to: mesActual } },
                { color: "#bbb", lineWidth: 1, xaxis: { from: mesInicio, to: mesInicio } },
                { color: "#bbb", lineWidth: 1, xaxis: { from: mesActual-0.33, to: mesActual-0.33 } }
            ];

            var options = {
                lines: { show: true, fill: false },
                yaxis: {
                    min: 0,
                    max: valorMaximoGrafica + 10,
                },
                xaxis: {
                    min: mesInicio,
                    max: mesActual+1,
                    ticks: meses,
                    tickLength: 0,
                    autoscaleMargin: 0.1,
                    font:{
                        size:13,
                        color:"grey"
                    }
                },
                grid: {
                    markings:markings,
                    borderWidth:
                        {
                            top: 0,
                            right: 0,
                            left: 2,
                            bottom:2
                        }
                }
            };

            var plot = $.plot(placeholder, data, options);

            var mesPrediccion=mesActual-0.33;
            if (mesInicio!=mesActual)
            {
                var o = plot.pointOffset({ x: mesInicio, y: valorMaximoGrafica + valorMaximoGrafica*.17});
                placeholder.append("<div style='position:absolute;left:" + (o.left+4) + "px;top:" + o.top + "px;color:#666;font-size:smaller; background-color: rgb(255, 255, 255); opacity: 0.85;'>Datos registrados</div>");
            }
            else
            {
                mesPrediccion = mesActual;
            }

            var o = plot.pointOffset({ x: mesPrediccion , y:valorMaximoGrafica + valorMaximoGrafica*.17});
            placeholder.append("<div style='position:absolute;left:" + (o.left+4) + "px;top:" + o.top + "px;color:#666;font-size:smaller; background-color: rgb(255, 255, 255); opacity: 0.85;'>Predicción</div>");

            var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
                .text("Lámina de agua (mm)")
                .appendTo(placeholder);
        });
    });
</script>

<!-- Modal -->
<div class="modal fade" id="fullCalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="glyphicon glyphicon-tint" style="color:blue; font-size:3em;"></span>
                <p></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-regar" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content modal-contenido">
            <div class="row">
                <div class="modal-body" style="margin-left: 15px; margin-right: 15px;">
                    <p class="text-center  titulo-modal">¿Es necesario regar el cultivo en la siguiente década?</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Se relacionan las salidas de   precipitación probable y uso consuntivo que determina si hay necesidad de riego.
                    </p>
                </div>
            </div>
            <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                <button type="button" style="border-color:green; color:green" class="btn btn-default" data-dismiss="modal" id="registro">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modal-condicion" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-contenido">
            <div class="row">
                <div class="modal-body" style="margin-left: 20px; margin-right: 20px;">
                    <p class="text-center  titulo-modal">	Condición probable de precipitación</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Es el resultado obtenido de la predicción de la precipitación a escala mensual descrito en las siguientes categorías:
                    </p>
                    <br />
                    <p style="font-size:0.9em;">
                        <span style="color:#EF572F;">POR DEBAJO DE LO NORMAL:</span>en esta categoría, el valor de la precipitación está entre el percentil 0 y 33; esto quiere decir que el volumen de lluvias esperado para el periodo de predicción va a estar por debajo del promedio climatológico normal del periodo analizado (mensual).
                    </p>
                    <p style="font-size:0.9em;">
                        <span style="color:#EF572F;">DENTRO DE LO NORMAL: </span> el valor de la precipitación está entre el percentil 33 y 66; esto quiere decir que el volumen de lluvias esperado para el periodo de predicción va a estar cercano al promedio climatológico normal del periodo analizado (mensual).
                    </p>
                    <p style="font-size:0.9em;">
                        <span style="color:#EF572F;">POR ENCIMA DE LO NORMAL: </span>en esta categoría, el valor de la precipitación está entre el percentil 66 y 100; esto quiere decir que el volumen de lluvias para el periodo de predicción va a estar encima del promedio climatológico normal del periodo analizado (mensual).
                    </p>
                </div>
            </div>
            <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                <button type="button" style="border-color:green; color:green" class="btn btn-default" data-dismiss="modal" id="registro">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-uso" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content modal-contenido">
            <div class="row">
                <div class="modal-body" style="margin-left: 15px; margin-right: 15px;">
                    <p class="text-center titulo-modal">Uso consuntivo</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Es el agua total que consume un cultivo en particular y que utiliza para transpirar y convertir en biomasa.
                    </p>
                    <br />
                    <p style="font-style:italic; font-size:0.75em;">
                        <a href="http://datateca.unad.edu.co/contenidos/201616/contLinea/leccin_21__uso_consuntivo.html" target="_blank">
                            http://datateca.unad.edu.co/contenidos/201616/contLinea/leccin_21__uso_consuntivo.html
                        </a>
                    </p>
                </div>
            </div>
            <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                <button type="button" style="border-color:green; color:green" class="btn btn-default" data-dismiss="modal" id="registro">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-ppt" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content modal-contenido">
            <div class="row">
                <div class="modal-body" style="margin-left: 15px; margin-right: 15px;">
                    <p class="text-center  titulo-modal">Precipitación probable</p>
                    <p class="text-justify" style="font-size:0.9em;">
                        Es el valor más probable de precipitación para la siguiente década determinada a partir de la predicción mensual.
                    </p>
                </div>
            </div>
            <div class="text-center" style="border-color:#B7522D; border-width:2px; margin-top:20px; margin-bottom:20px;">
                <button type="button" style="border-color:green; color:green" class="btn btn-default" data-dismiss="modal" id="registro">Aceptar</button>
            </div>
        </div>
    </div>
</div>