@model SistemaExperto.Models.ZonaMensual

@{
    ViewBag.Title = "Eliminar";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!--Para ampliar campos largos-->
<style>
    dl.dl-horizontal dt {
        margin-right: 20px;
        padding-right: 300px;
      
    }
</style>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/Zona">Zonas</a></li>
    <li><a href="~/ZonaMensual">Datos Mensuales</a></li>
    <li class="active">@Model.Zona.Nombre</li>
</ol>


<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Eliminar zona mensual</h2>
    <hr />

    <!-- Datos -->
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Zona.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Zona.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
           
            <dt >
                @Html.DisplayNameFor(model => model.Ss0)
            </dt>

            <dd >
                @Html.DisplayFor(model => model.Ss0)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Su0)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Su0)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

              <!-- Botón eliminar -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Eliminar" class="btn btn-primary" /> 
            
                </div>
            </div>
        }
    </div>
</div>
