@model SistemaExperto.Models.Termino

@{
    ViewBag.Title = "Eliminar";
}
<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Glosario">Glosario</a></li>
    <li><a href="~/Termino">Términos</a></li>
    <li class="active">Eliminar</li>
</ol>

<style>
    dd {
        padding-bottom:10px;
    }
</style>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1">

    <h2>Eliminar Término</h2>

  
    <div class="col-xs-12 col-md-12">

        <hr />
        <dl>
            <dt>
                Término Padre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoPadre.NombreTermino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreTermino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreTermino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefinicionBreve)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefinicionBreve)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DefinicionAmplia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DefinicionAmplia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fuente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fuente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InformacionApoyo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InformacionApoyo)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Etiquetas)
            </dt>*@

            <dd>
                @Html.DisplayFor(model => model.Etiquetas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Orden)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Orden)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

             <!-- Botón eliminar -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <br />
                    <input type="submit" value="Eliminar" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
