@model SistemaExperto.Models.ListaOpciones

@{
    ViewBag.Title = "Crear";
}

<!-- Scripts -->
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/se.js"></script>
<script src="~/Scripts/jasny-bootstrap.js"></script>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/ListaOpciones">Lista opciones</a></li>
    <li class="active">Crear</li>
</ol>
<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Crear relación de OT con cultivo, condicion y municipio </h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <div class="row">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.CultivoId, "Cultivo", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CultivoId", String.Empty)
                        @Html.ValidationMessageFor(model => model.CultivoId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MunicipioId, "Municipio", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MunicipioId", String.Empty)
                        @Html.ValidationMessageFor(model => model.MunicipioId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoOfertaId, "Tipo opción", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TipoOfertaId", String.Empty)
                        @Html.ValidationMessageFor(model => model.TipoOfertaId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoPrediccionId, "Condición", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TipoPrediccionId", String.Empty)
                        @Html.ValidationMessageFor(model => model.TipoPrediccionId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OpcionTecnologicaId, "Opcion Tecnologica", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("OpcionTecnologicaId", String.Empty)
                        @Html.ValidationMessageFor(model => model.OpcionTecnologicaId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstadoDesarrolloCultivo, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EstadoDesarrolloCultivo)
                        @Html.ValidationMessageFor(model => model.EstadoDesarrolloCultivo)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IndicadorLocal, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IndicadorLocal)
                        @Html.ValidationMessageFor(model => model.IndicadorLocal)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $("select").addClass("form-control")
</script>

