@model SistemaExperto.Models.InformacionAmpliaSec2Mcipio

@{
    ViewBag.Title = "Eliminar";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">Parámetros</a></li>
    <li><a href="~/InformacionAmpliaSec2Mcipio">Informacion amplia seccion 2 Municipio</a></li>
    <li class="active">Eliminar</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Eliminar informacion amplia seccion 2 Municipio</h2>
    <hr />

    <!-- Datos -->
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CapasMunicipios.Capa.NombreCaracterizacion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CapasMunicipios.Capa.NombreCaracterizacion)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.CapasMunicipios.ExplicacionMapa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreCortoSeccion2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreCortoSeccion2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TituloSeccion2Mcipio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TituloSeccion2Mcipio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.Raw(Model.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

              <!-- Botón eliminar -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <br />
                    <input type="submit" value="Eliminar" class="btn btn-primary" />

                </div>
            </div>
        }
    </div>
</div>
