@model SistemaExperto.Models.EstacionMensual

@{
    ViewBag.Title = "Predicción";
}

 @*Scripts 
<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Estacion">Estaciones</a></li>
    <li><a href="~/EstacionMensual/Index/@Model.EstacionId">Datos mensuales</a></li>
    <li class="active">Detalles</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

  

    <div class="row">

        <div class="col-xs-12 col-md-6">
            <!-- título -->
            <h2>Predicción</h2>
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Estacion.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estacion.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @String.Format("{0:MM/dd/yy}", Model.Fecha)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tmin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tmin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tmax)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tmax)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precipitacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precipitacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Viento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Viento)
                </dd>
                
                
                
                <dt>
                    @Html.DisplayNameFor(model => model.SPI)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SPI)
                </dd>

                @*#CambioPalmerSPI*@ 
                <dt>
                    @Html.DisplayNameFor(model => model.ExistePrediccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExistePrediccion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProbabilidadPpt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProbabilidadPpt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CategoriaProbabilidadId)
                </dt>

                <dd>
                   @ViewBag.Categoria
                 </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ValorMinimo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValorMinimo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ValorMaximo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValorMaximo)
                </dd>
            </dl>
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- título -->
            <h2>Datos Reales</h2>
            <hr />
           
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TminReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TminReal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TmaxReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TmaxReal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PrecipitacionReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrecipitacionReal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VientoReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VientoReal)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SPIReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SPIReal)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="well text-center">
            <strong>@Html.DisplayNameFor(model => model.ETo): </strong>@Html.DisplayFor(model => model.ETo)
        </div>
        <div class="well text-center">
            <strong>@Html.DisplayNameFor(model => model.EToReal): </strong>@Html.DisplayFor(model => model.EToReal)
        </div>
    </div>
</div>

