@model SistemaExperto.Models.EstacionMensual

@{
    ViewBag.Title = "Eliminar";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Estacion">Estaciones</a></li>
    <li><a href="~/EstacionMensual/Index/@Model.EstacionId">Datos mensuales</a></li>
    <li class="active">Eliminar</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Eliminar datos estación mensual</h2>
    <hr />

    <!-- Datos -->

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- título -->
            <h3>Datos Predicción</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Estacion.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estacion.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @String.Format("{0:dd/MM/yyyy}", Model.Fecha)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tmin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tmin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tmax)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tmax)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ETo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ETo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SPI)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SPI)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ValorMinimo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValorMinimo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ValorMaximo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValorMaximo)
                </dd>
            </dl>
            </div>
            <div class="col-md-6 col-sm-12">
                <!-- título -->
                <h3>Datos Reales</h3>
                <hr />

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TminReal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TminReal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TmaxReal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TmaxReal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrecipitacionReal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrecipitacionReal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VientoReal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VientoReal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EToReal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EToReal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SPIReal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SPIReal)
                    </dd>
                </dl>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <!-- Botón eliminar -->
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <br />
                        <input type="submit" value="Eliminar" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>



</div>
