@model IEnumerable<SistemaExperto.Models.EstacionMensual>

@{
    ViewBag.Title = "Datos estación";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Scripts -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Estacion">Estaciones</a></li>
    <li class="active">Datos mensuales</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!-- Título -->
    <h2>Lista datos mensuales de estaciones</h2>
    <hr />
    @*@ViewBag.idEstacion*@

    <!-- Tabla -->
    <table class="table" id="tabla_index">

        <!-- Encabezado -->
        <thead>
            <tr>
                <th class="none">
                    EstacionMensualId
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estacion.Nombre)
                </th>
                <th>
                    Año
                </th>
                <th>
                    Mes
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tmax)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Precipitacion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ETo)
                </th>
                <th></th>
            </tr>
        </thead>

        <!-- Contenido -->
        <tbody></tbody>
    </table>
</div>

<!-- Script de tabla -->
<script>
    $(document).ready(function () {
        var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
        if (raiz.length == 1) {
            raiz = "";
        }
        console.log(raiz);
        $('#tabla_index').dataTable({
            "pagingType": "full", "bServerSide": true,
            "sAjaxSource": raiz+"/EstacionMensual/AjaxHandler",
            "bProcessing": true,
            "order": [[1, "desc"]],
            "bJQueryUI": false,
            "iDisplayLength": 10,
            "bLengthChange": false,
            "oLanguage": {
                "sEmptyTable": "No hay datos registrados para la estación",
                "sProcessing": "Cargando registros...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente",
                    "sLast": "Último"
                },
                "sLoadingRecords": "Cargando...",
                "sInfoEmpty": "0 registros",
                "sInfo": "Mostrando _END_ registro(s) de un total de _TOTAL_",
                "sSearch": "Buscar:",
                "sLengthMenu": "_MENU_ estaciones por página",
                "sInfoFiltered": "(filtrado de _MAX_ registros)"
            },
            "fnServerParams": function (aoData) {
                aoData.push({
                    "name": "EstacionId", "value": @ViewBag.idEstacion});
               

            },
            "aoColumns": [
                   {

                       "mData": "EstacionMensualId",
                       "bSearchable": false,
                       "bSortable": false,
                       "bVisible": false

                   },
                    { "mData": "Nombre" },
                    { "mData": "Year" },
                    { "mData": "Month" },
                    { "mData": "Tmin" },
                    { "mData": "Tmax" },
                    { "mData": "Precipitacion" },
                    { "mData": "ETo" },
                    {
                        "mData": function (source, type, val) { return '<div class="btn-group" role="group" ><a href="../Editar/' + source.EstacionMensualId + '" title="Editar" class="btn btn-default"><i class="icon-edit"></i></a>  <a href="../Detalles/' + source.EstacionMensualId + '"title="Detalles" class="btn btn-default">  <i class="icon-dotlist"></i></a>  <a href="../Eliminar/' + source.EstacionMensualId + '" title="Eliminar" class="btn btn-default"> <i class="icon-circledelete"></i> </a> </div>'; },
                    }
            ]
    });
    });
</script>

<!-- Script de globo de ayuda -->
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });
</script>