@model SistemaExperto.Models.InformacionAmpliaSeccion2

@{
    ViewBag.Title = "Editar";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<link href="http://premiumsoftware.net/content/cleditor/jquery.cleditor.min.css" rel="stylesheet" />
<script src="http://premiumsoftware.net/content/cleditor/jquery.cleditor.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Descripcion").cleditor();
    });
</script>


<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">Parámetros</a></li>
    <li><a href="~/InformacionAmpliaSeccion2">Informacion amplia seccion 2</a></li>
    <li class="active">Editar</li>
</ol>
<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Editar Informacion amplia seccion 2</h2>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.InformacionAmpliaSeccion2Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.CapaDepartamentoId, "CapaDepartamentoId", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @*@Html.DropDownList("CapaDepartamentoId", String.Empty)*@
                        @Html.DropDownList("CapaDepartamentoId")
                        @Html.ValidationMessageFor(model => model.CapaDepartamentoId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreCortoSeccion2, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NombreCortoSeccion2)
                        @Html.ValidationMessageFor(model => model.NombreCortoSeccion2)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TituloSeccion2, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TituloSeccion2)
                        @Html.ValidationMessageFor(model => model.TituloSeccion2)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Icono, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Icono)
                        @Html.ValidationMessageFor(model => model.Icono)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Descripcion, new { @id= "Descripcion",Rows = 5})
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>
                </div>

                <!-- Botón editar -->
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <br />
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $("select").addClass("form-control")
</script>