@model SistemaExperto.Models.CultivoProductividad

@{
    ViewBag.Title = "Details";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Productividad">Productividad</a></li>
    <li><a href="~/CultivoProductividad">Cultivos Productividad</a></li>
    <li class="active">Detalles</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">
    <!-- título -->
    <h2>Cultivos Productividad</h2>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-md-6">
           
            <dl class="dl-horizontal">
                <dt>
                    Cultivo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cultivo.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AMP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AMP)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.ADT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ADT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AFA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AFA)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.KyInicial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KyInicial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KyDesarrollo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KyDesarrollo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KyMedio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KyMedio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KyFinal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KyFinal)
                </dd>
            </dl>
        </div>
        <div class="col-md-6 col-sm-12">
            <dl class="dl-horizontal">
                @*<dt>
                    @Html.DisplayNameFor(model => model.KcInicial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KcInicial)
                </dd>
              
                <dt>
                    @Html.DisplayNameFor(model => model.KcMedio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KcMedio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KcFinal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KcFinal)
                </dd>*@
                @*<dt>
                    @Html.DisplayNameFor(model => model.inicialCC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.inicialCC)
                </dd>*@
                @*<dt>
                    @Html.DisplayNameFor(model => model.EtapaInicial)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EtapaInicial)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EtapaDesarrollo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EtapaDesarrollo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EtapaMedio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EtapaMedio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EtapaFinal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EtapaFinal)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.IndicaCalculaKCFormula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IndicaCalculaKCFormula)
                </dd>*@
            </dl>
        </div>

    </div>
</div>