@model IEnumerable<SistemaExperto.Models.EstacionTipoConstante>

@{
    ViewBag.Title = "Datos tipo constante estación";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Scripts -->

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li class="active">Estaciones Tipo constante</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">
@* Validar si es usuario administrador muestra el contenido de la pagina *@
@if ((User.Identity.Name.Split('|')[1]) == "True" || true)
{
    <!-- Información -->
    <div class="col-md-4 well">

        <!-- Botón crear -->
        <div class="text-center">
            <a class="btn btn-default" href="~/EstacionTipoConstantes/Crear" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Crear nuevo tipo constante</a>
        </div>

        <p></p>

        <img class="img-responsive thumbnail" src="~/Content/Imagenes/clima_estaciones.png" />
       
     </div>

    <!-- Tabla -->
    <div class="col-md-8">

        <table class="table" id="tabla_index">
            <!-- Encabezado -->
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Etiqueta)
                    </th>
                    <th></th>
                </tr>

            </thead>

            <!-- Contenido -->
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Etiqueta)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.EstacionTipoConstanteId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.EstacionTipoConstanteId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.EstacionTipoConstanteId })*@
                            <a class="btn btn-default" href="~/EstacionTipoConstantes/Detalles/@item.EstacionTipoConstanteId" role="button" data-toggle="tooltip" title="Detalles"><span class="glyphicon glyphicon-file"></span></a>
                            <a class="btn btn-default" href="~/EstacionTipoConstantes/Editar/@item.EstacionTipoConstanteId" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-default" href="~/EstacionTipoConstantes/Eliminar/@item.EstacionTipoConstanteId" role="button" data-toggle="tooltip" title="Eliminar"><span class="glyphicon glyphicon-remove-circle"></span></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
      }
    else {
    <div class="text-center" style="color: red">
        No tiene permisos para ingresar a esta página.
    </div>
    }
</div>
  <!-- Script de tabla -->
<script>
    $(document).ready(function () {
        $('#tabla_index').dataTable({
            "iDisplayLength": 10,
            "bLengthChange": false,
            language: {
                emptyTable: "No hay datos registrados para la estación",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Último"
                },
                infoEmpty: "0 estaciones",
                info: "Mostrando _END_ registro(s) de un total de _TOTAL_",
                search: "Buscar:",
                sLengthMenu: "_MENU_ estaciones por página",
            }
        });
    });
</script>
<!-- Script de globo de ayuda -->
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });
</script>
