@model SistemaExperto.Models.OpcionesVisualizacion

@{
    ViewBag.Title = "Editar opción";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />
<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/OpcionesVisualizacion">Opciones visualización</a></li>
    <li class="active">Editar Opción </li>
</ol>
<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Editar opción visualización capa</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.OpcionVisualizacionId)

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreTipoOpcion, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NombreTipoOpcion)
                        @Html.ValidationMessageFor(model => model.NombreTipoOpcion)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreOpcion, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NombreOpcion)
                        @Html.ValidationMessageFor(model => model.NombreOpcion)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreOpcionJScript, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NombreOpcionJScript)
                        @Html.ValidationMessageFor(model => model.NombreOpcionJScript)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CapaId, "Capa", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("CapaId", String.Empty)
                        @Html.ValidationMessageFor(model => model.CapaId)
                    </div>
                </div>

                <!-- Botón editar -->
                <div class="form-group">

                    <div class="col-md-12 text-center">
                        <br />
                        <input type="submit" value="Guardar" class="btn btn-primary" />

                    </div>
                </div>
            </div>
        </div>
    }

</div>
<script>
    $("select").addClass("form-control")
</script>