@model SistemaExperto.Models.EstacionValores

@{
    ViewBag.Title = "Editar valor constante";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/EstacionValores">Estación valores</a></li>
    <li class="active">Editar valor de constante</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Editar valor de constante para estación</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row">

                <div class="col-md-6">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.EstacionValoresId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Enero, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Enero)
                            @Html.ValidationMessageFor(model => model.Enero)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Febrero, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Febrero)
                            @Html.ValidationMessageFor(model => model.Febrero)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Marzo, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Marzo)
                            @Html.ValidationMessageFor(model => model.Marzo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Abril, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Abril)
                            @Html.ValidationMessageFor(model => model.Abril)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mayo, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Mayo)
                            @Html.ValidationMessageFor(model => model.Mayo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Junio, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Junio)
                            @Html.ValidationMessageFor(model => model.Junio)
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Julio, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Julio)
                            @Html.ValidationMessageFor(model => model.Julio)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Agosto, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Agosto)
                            @Html.ValidationMessageFor(model => model.Agosto)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Septiembre, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Septiembre)
                            @Html.ValidationMessageFor(model => model.Septiembre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Octubre, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Octubre)
                            @Html.ValidationMessageFor(model => model.Octubre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Noviembre, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Noviembre)
                            @Html.ValidationMessageFor(model => model.Noviembre)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Diciembre, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Diciembre)
                            @Html.ValidationMessageFor(model => model.Diciembre)
                        </div>
                    </div>

                    <!-- Botón editar -->
                    <div class="form-group">

                        <div class="col-md-12 text-center">
                            <br />
                            <input type="submit" value="Guardar" class="btn btn-primary" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>

   