@model IEnumerable<SistemaExperto.Models.EstacionValores>

@{
    ViewBag.Title = "Estacion Valores";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />


<!-- Scripts -->

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>


<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li class="active">Estación valores</li>
</ol>

<!-- Contenido -->

<div class="row col-md-10 col-md-offset-1 contenido" >
@* Validar si es usuario administrador muestra el contenido de la pagina *@
@if ((User.Identity.Name.Split('|')[1]) == "True" || true)
{
    <!-- Información -->
    <div class="col-md-4 well">

        <!-- Botón crear -->
        <div class="text-center">
            <a class="btn btn-default" href="~/EstacionValores/Crear" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Crear nuevo valor</a>
        </div>

        <p></p>

        <img class="img-responsive thumbnail" src="~/Content/Imagenes/clima_estaciones.png" />
        <p>Para observar todos los meses haga clic sobre el botón <strong>Detalles </strong></p>
    </div>

    <!-- Tabla -->
    <div class="col-md-8">

        <table class="table" id="tabla_index">
            <!-- Encabezado -->
            <thead>
                <tr>
                    <th class="none">
                        EstacionValoresId
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstacionTipoConstante.Nombre)
                    </th>
                   
                    @*<th>
                      
                        Estación
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Anio)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Enero)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <!-- Contenido -->
            <tbody>
                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstacionTipoConstante.Nombre)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.EstacionConstantes.FirstOrDefault().Estacion.Nombre)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Anio)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modeslItem => item.Enero)
                        </td>
                        <td>
                           
                            <a class="btn btn-default" href="~/EstacionValores/Detalles/@item.EstacionValoresId" role="button" data-toggle="tooltip" title="Detalles"><span class="glyphicon glyphicon-file"></span></a>
                            <a class="btn btn-default" href="~/EstacionValores/Editar/@item.EstacionValoresId" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-default" href="~/EstacionValores/Eliminar/@item.EstacionValoresId" role="button" data-toggle="tooltip" title="Eliminar"><span class="glyphicon glyphicon-remove-circle"></span></a>

                        </td>
                    </tr>

                }*@
            </tbody>
        </table>
    </div>
      }
    else {
    <div class="text-center" style="color: red">
        No tiene permisos para ingresar a esta página.
    </div>
    }
</div>

 <!-- Script de tabla -->
@*<script>
    $(document).ready(function () {
        $('#tabla_index').dataTable({
            "iDisplayLength": 10,
            "bLengthChange": false,
            language: {
                emptyTable: "No hay datos registrados ",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Último"
                },
                infoEmpty: "0 estaciones",
                info: "Mostrando _END_ registro(s) de un total de _TOTAL_",
                search: "Buscar:",
                sLengthMenu: "_MENU_ estaciones por página",
            }
        });
    });
</script>*@
<script>
    $(document).ready(function () {
        var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
        if (raiz.length == 1) {
            raiz = "";
        }
        $('#tabla_index').dataTable({
            "pagingType": "full", "bServerSide": true,
            "sAjaxSource": raiz+"/EstacionValores/AjaxHandler",
            "bProcessing": true,
            "order": [[1, "desc"]],
            "bJQueryUI": false,
            "iDisplayLength": 10,
            "bLengthChange": false,
            "oLanguage": {
                "sEmptyTable": "No hay datos registrados para la estación",
                "sProcessing": "Cargando registros...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente",
                    "sLast": "Último"
                },
                "sLoadingRecords": "Cargando...",
                "sInfoEmpty": "0 registros",
                "sInfo": "Mostrando _END_ registro(s) de un total de _TOTAL_",
                "sSearch": "Buscar:",
                "sLengthMenu": "_MENU_ estaciones por página",
                "sInfoFiltered": "(filtrado de _MAX_ registros)"
            },

            "aoColumns": [
                   {

                       "mData": "EstacionValoresId",
                       "bSearchable": false,
                       "bSortable": false,
                       "bVisible": false

                   },
                    { "mData": "Nombre" },
                     //{ "mData": "estacionNombre" },
                     { "mData": "Anio" },
                     { "mData": "Enero" },
                    {
                        "mData": function (source, type, val) { return '<div class="btn-group" role="group" ><a href="EstacionValores/Editar/' + source.EstacionValoresId + '" title="Editar" class="btn btn-default"><i class="icon-edit"></i></a>  <a href="EstacionValores/Detalles/' + source.EstacionValoresId + '"title="Detalles" class="btn btn-default">  <i class="icon-dotlist"></i></a>  <a href="EstacionValores/Eliminar/' + source.EstacionValoresId + '" title="Eliminar" class="btn btn-default"> <i class="icon-circledelete"></i> </a> </div>'; },
                    }
            ]
    });
    });
</script>

<!-- Script de globo de ayuda -->
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });
</script>
