@model SistemaExperto.Models.Convenciones

@{
    ViewBag.Title = "Detalles";
}

<!-- Scripts -->
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />
<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/Convenciones">Convenciones</a></li>
    <li class="active">Detalles convención</li>
</ol>
<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!-- título -->
    <h2>Convención</h2>


    <div class="row">
        <div class="col-xs-12 col-md-6">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OpcionVisualizacion.Capa.NombreCaracterizacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpcionVisualizacion.Capa.NombreCaracterizacion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OpcionVisualizacion.NombreOpcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpcionVisualizacion.NombreOpcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OpcionVisualizacion.NombreTipoOpcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpcionVisualizacion.NombreTipoOpcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombreIndicador)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreIndicador)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

            </dl>
        </div>
    </div>
</div>