@model SistemaExperto.Models.Ofertas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ofertas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CultivoEtapa.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CultivoEtapa.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoPrediccion.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoPrediccion.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cultivo.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cultivo.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Efectos.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Efectos.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OfertaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
