@model FichaOpcionViewModel
@{
    ViewBag.Title = "FichaOTLocal";
}
<a href="#" class="btn btn-danger  btm-zindex none" id="Show_cont">Ver información</a>

<div class="container-fluid">
    <div id="sec0" class="row-fluid" style="min-height:300px;">

        <!-- Ruta de navegación -->
        <div>

            <ol class="breadcrumb barra-local">
                <li><a href="~/Inicio">Inicio</a></li>
                <li><a href="~/Regional/Pais">Regional</a></li>
                <li><a href="~/Alerta/Presentacion?ZonaId=@ViewBag.ZonaId">Local</a></li>
                <li><a href="~/Ofertas/OpcionesLocal?ZonaId=@ViewBag.ZonaId">Efectos y opciones</a></li>
                <li class="active">Ficha opción local</li>
                <li>@Html.ActionLink(" ", "AccionInforme", new { id = Model.ListaOpciones.ListaOpcionesId }, new { @class = "fa fa-arrow-circle-o-down ayuda", title = "Descargar PDF" })</li>
            </ol>
        </div>

        <div class="col-md-12 center-block text-center" style="margin-top: 100px;">
            <div class="text-center">
                <h2>Ficha Opción Tecnológica</h2>
                <hr />
                <h3>@Model.ListaOpciones.OpcionTecnologica.Nombre</h3>
            </div>




        </div>
    </div>
</div>


<!--Sección Descripcion-->
@*<div id="mas-descripcion" class="contenedor-a">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">
           
            Descripción de la Opción Tecnológica
        </span>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion contenedor-informacion-a">
                    <div>
                        <span class="titulo-panel titulo-panel-a">
                           
                        </span>
                        <hr />
                    </div>
                    <div>
                        @Model.FichaOpcion.Descripcion

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección detalle-->
<div id="mas-detalle" class="contenedor-b">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">
       
            ¿Qué debo tener en cuenta para implementar la OT? 
        </span>

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion-b">
                    <div class="row">
                        <span class="titulo-panel titulo-panel-b">
                            
                           <br />
                        </span>
                        <hr />
                    </div>
                    <div class="row">
                        <span class="informacion-panel informacion-panel-b">
                            @Model.FichaOpcion.DetalleOpcion
                            <br />
                        </span>
                      
                    </div>
                    <br />
                    <div class="col-md-12 espacio-vertical-50"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección problematica-->
<div id="mas-problematica" class="contenedor-a">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">
           
            Situación a la que responde la OT
        </span>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion contenedor-informacion-a">
                    <div>
                        <span class="titulo-panel titulo-panel-a">

                        </span>
                        <hr />
                    </div>
                    <div>
                        @Model.FichaOpcion.ProblematicaAtiende

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mas-ventajas" class="contenedor-b">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">
        
            ¿Qué ventajas tengo al implementarla?
        </span>

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion-b">
                    <div class="row">
                        <span class="titulo-panel titulo-panel-b">

                            <br />
                        </span>
                        <hr />
                    </div>
                    <div class="row">
                        <span class="informacion-panel informacion-panel-b">
                            @Model.FichaOpcion.VentajasDescripcion
                            <br />
                        </span>

                    </div>
                    <br />
                    <div class="col-md-12 espacio-vertical-50"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección problematica-->
<div id="mas-problematica" class="contenedor-a">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">

            ¿Qué recursos requiero para implementar la OT?
        </span>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion contenedor-informacion-a">
                    <div>
                        <span class="titulo-panel titulo-panel-a">

                        </span>
                        <hr />
                    </div>
                    <div>
                        @Model.FichaOpcion.Respaldo

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mas-ventajas" class="contenedor-b">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">

            ¿Quién puede apoyarme para la implementación?	
        </span>

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion-b">
                    <div class="row">
                        <span class="titulo-panel titulo-panel-b">

                            <br />
                        </span>
                        <hr />
                    </div>
                    <div class="row">
                        <span class="informacion-panel informacion-panel-b">
                            @Model.FichaOpcion.PosibleProveedor
                            <br />
                        </span>

                    </div>
                    <br />
                    <div class="col-md-12 espacio-vertical-50"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección problematica-->
<div id="mas-problematica" class="contenedor-a">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">

            ¿Cuál es costo aproximado de la implementación de la OT?
        </span>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion contenedor-informacion-a">
                    <div>
                        <span class="titulo-panel titulo-panel-a">

                        </span>
                        <hr />
                    </div>
                    <div>
                        @Model.FichaOpcion.AnalisisEconomico

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mas-ventajas" class="contenedor-b">
    <div class="col-md-12 center-block text-center ">
        <span class="titulo-contenedor titulo-contenedor-a">

            ¿Qué más debo saber para implementar la OT?
        </span>

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1 contenedor-informacion-b">
                    <div class="row">
                        <span class="titulo-panel titulo-panel-b">

                            <br />
                        </span>
                        <hr />
                    </div>
                    <div class="row">
                        <span class="informacion-panel informacion-panel-b">
                            @Model.FichaOpcion.Notas
                            <br />
                        </span>

                    </div>
                    <br />
                    <div class="col-md-12 espacio-vertical-50"></div>
                </div>
            </div>
        </div>
    </div>
</div>*@


@{      string letraFila = "";
     
      var contadorCuadros = 1;

      int idOpcion = Model.ListaOpciones.ListaOpcionesId;
      var cuadrosFicha = Model.FichaOpcion.Where(d => d.ListaOpcionesId == idOpcion).OrderBy(d=>d.Orden);
}

@foreach (var objetoCuadro in cuadrosFicha)
{

    if (contadorCuadros % 2 == 0)
    {
        letraFila = "a";
    }
    else
    {
        letraFila = "b";
    }
    <div class="text-center contenedor-@letraFila">

        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 contenedor-informacion contenedor-informacion-@letraFila">
                    @if (!objetoCuadro.Titulo.IsEmpty() && objetoCuadro.Titulo != null
                                            && objetoCuadro.Titulo != "")
                    {
                        <div class="row barra-titulo-contenedor" style="background-color:transparent">
                            <span class="titulo-contenedor titulo-contenedor-@letraFila">
                                @objetoCuadro.Titulo
                            </span>

                        </div>

                    }

                    @if (objetoCuadro.Informacion != null)
                    {
                        <div class="row" style="text-align:justify;">
                            <br />
                            @Html.Raw(objetoCuadro.Informacion)
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (contadorCuadros != cuadrosFicha.Count())
        {
            <div class="col-md-10 col-md-offset-1">
                <hr class="linea-contenedor-@letraFila" />
            </div>
        }


    </div>
        contadorCuadros++;
}
}

<a class="boton-subir off" href="#">
    <span class="icon-fastup">
    </span> Volver
</a>

<script>
    /* Floating Go to top Link */
    /* -------------------------------------------------------------------- */
    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.boton-subir').removeClass('off').addClass('on');
            //$('#globo-seleccion-municipio').addClass('none');
        }
        else {
            $('.boton-subir').removeClass('on').addClass('off');
            //$('#globo-seleccion-municipio').removeClass('none');
        }
    });

    $('.boton-subir').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 500);
        return false;
    });
</script>