@model FichaOpcionViewModel
@{
    ViewBag.Title = "FichaOTRegional";
}

<style>
    .contenedor-informacion-a{
        border:none;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ayuda').tooltip({
            'placement': 'bottom'
        });
    });
</script>

<a href="#" class="btn btn-danger  btm-zindex none" id="Show_cont">Ver información</a>

<div class="container-fluid">
    <div id="sec0" class="row-fluid" style="min-height:300px;">

        <!-- Ruta de navegación -->
        <div>

            <ol class="breadcrumb">
                <li><a href="~/Inicio">Inicio</a></li>
                <li><a href="~/Regional/Pais">Regional</a></li>
                <li><a href="#" onclick="history.go(-1);">Efectos y opciones</a></li>
                <li class="active">Ficha opción regional</li>
                @*<li>@Html.ActionLink(" ", "AccionInforme", new { id = Model.ListaOpciones.ListaOpcionesId }, new { @class = "icon-download ayuda", title="Descargar PDF" })</li>*@
                <li>@Html.ActionLink(" ", "AccionInforme", new { id = Model.ListaOpciones.ListaOpcionesId }, new { @class = "fa fa-arrow-circle-o-down ayuda", title = "Descargar PDF" })</li>
            </ol>
        </div>

        <div class="col-md-12 center-block text-center" style="margin-top: 100px;">
            <div class="text-center">
                <h2>@Model.ListaOpciones.OpcionTecnologica.Nombre</h2>
                <hr />
            </div>
        </div>
    </div>
</div>

          
@{      string letraFila = "";
      
        var contadorCuadros = 1;

        int idOpcion = Model.ListaOpciones.ListaOpcionesId;
        var cuadrosFicha = Model.FichaOpcion.Where(d => d.ListaOpcionesId == idOpcion).OrderBy(d => d.Orden);
        }

            @foreach (var objetoCuadro in cuadrosFicha)
            {
                
                if (contadorCuadros % 2 == 0)
                {
                    letraFila = "a";
                }
                else
                {
                    letraFila = "b";
                }
              <div class="text-center contenedor-@letraFila">
                 
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-12 contenedor-informacion contenedor-informacion-@letraFila">
                            @if (!objetoCuadro.Titulo.IsEmpty() && objetoCuadro.Titulo != null
                                            && objetoCuadro.Titulo != "")
                            {
                                <div class="row barra-titulo-contenedor" style="background-color:transparent">
                                    <span class="titulo-contenedor titulo-contenedor-@letraFila">
                                        @objetoCuadro.Titulo
                                    </span>
                                   
                                </div>
                                
                            }
                        
                            @if (objetoCuadro.Informacion != null)
                            {
                                <div class="row">
                                    <br />
                                    @Html.Raw(objetoCuadro.Informacion)
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (contadorCuadros != cuadrosFicha.Count())
                {
                    <div class="col-md-10 col-md-offset-1">
                        <hr class="linea-contenedor-@letraFila" />
                    </div>
                }
            

        </div>
                contadorCuadros++;
    }
}



<a class="boton-subir off" href="#">
    <span class="icon-fastup">
    </span> Volver
</a>

<script>
    /* Floating Go to top Link */
    /* -------------------------------------------------------------------- */
    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.boton-subir').removeClass('off').addClass('on');
            //$('#globo-seleccion-municipio').addClass('none');
        }
        else {
            $('.boton-subir').removeClass('on').addClass('off');
            //$('#globo-seleccion-municipio').removeClass('none');
        }
    });

    $('.boton-subir').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 500);
        return false;
    });
</script>