@model IEnumerable<SistemaExperto.Models.Ofertas>

@{
    ViewBag.Title = "Ofertas";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Scripts -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Clima/Menu">Clima</a></li>
    <li><a href="~/Estacion">Estaciones</a></li>
    <li class="active">Datos mensuales</li>
</ol>



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CultivoEtapa.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPrediccion.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cultivo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efectos.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CultivoEtapa.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPrediccion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cultivo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Efectos.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OfertaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OfertaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OfertaId })
        </td>
    </tr>
}

</table>
