@model IEnumerable<SistemaExperto.Models.CultivoTipoEtapa>

@{
    ViewBag.Title = "Index";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li class="active">Tipo Etapa Cultivo</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">


    <!-- Información -->
    <div class="col-md-4 well">

        <!-- Botón crear -->
        <div class="text-center">
            <a class="btn btn-default" href="~/CultivoTipoEtapa/Crear" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Crear nuevo tipo etapa</a>
        </div>

        <p></p>

        <img class="img-responsive thumbnail" src="~/Content/Imagenes/clima_cultivos.png" />
        <p>Lista tipo etapa de cultivos</p>
    </div>

    <div class="col-md-8">

        <!-- Tabla -->
        <table class="table" id="tabla_index">
            <!--Encabezado-->
            <thead>
                <tr>
                    <th class="none">
                        CultivoTipoEtapaId
                    </th>
                    <th>
                        Ciclo cultivo
                    </th>
                    <th>
                        Municipio Ciclo cultivo
                    </th>
                    <th>
                        Condicion Ciclo cultivo
                    </th>
                    <th>
                        Etapa
                    </th>
                   
                    <th></th>
                </tr>
            </thead>

            <!--Contenido-->
            <tbody>
                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CultivoCiclo.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CultivoCiclo.Municipio.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CultivoCiclo.Condicion.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CultivoEtapa.Nombre)
                        </td>
                        
                        <td>
                           
                            <a class="btn btn-default" href="~/CultivoTipoEtapa/Detalles/@item.CultivoTipoEtapaId" role="button" data-toggle="tooltip" title="Detalles"><span class="glyphicon glyphicon-file"></span></a>
                            <a class="btn btn-default" href="~/CultivoTipoEtapa/Editar/@item.CultivoTipoEtapaId" role="button" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-default" href="~/CultivoTipoEtapa/Eliminar/@item.CultivoTipoEtapaId" role="button" data-toggle="tooltip" title="Eliminar"><span class="glyphicon glyphicon-remove-circle"></span></a>

                        </td>
                    </tr>
                }*@

            </tbody>
        </table>
    </div>
</div>

<!-- Scripts -->
@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>*@
@*<script src="~/Scripts/dataTables.bootstrap.js"></script>*@
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<!-- Script de tabla -->
@*<script>
    $(document).ready(function () {
        $('#tabla_index').dataTable({
            "iDisplayLength": 5,
            "bLengthChange": false,
            language: {
                emptyTable: "No hay zonas registradas",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Último"
                },
                infoEmpty: "0 estaciones",
                info: "Mostrando _END_ registro(s) de un total de _TOTAL_",
                search: "Buscar:",
                sLengthMenu: "_MENU_ estaciones por página",
            }
        });
    });
</script>*@
<script>
    $(document).ready(function () {
		var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
        if (raiz.length == 1) {
            raiz = "";
        }
        $('#tabla_index').dataTable({
            "pagingType": "full", "bServerSide": true,
            "sAjaxSource": raiz+"/CultivoTipoEtapa/AjaxHandler",
            "bProcessing": true,
            "order": [[1, "desc"]],
            "bJQueryUI": false,
            "iDisplayLength": 10,
            "bLengthChange": false,
            "oLanguage": {
                "sEmptyTable": "No hay datos registrados para la estación",
                "sProcessing": "Cargando registros...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente",
                    "sLast": "Último"
                },
                "sLoadingRecords": "Cargando...",
                "sInfoEmpty": "0 registros",
                "sInfo": "Mostrando _END_ registro(s) de un total de _TOTAL_",
                "sSearch": "Buscar:",
                "sLengthMenu": "_MENU_ estaciones por página",
                "sInfoFiltered": "(filtrado de _MAX_ registros)"
            },

            "aoColumns": [
                   {

                       "mData": "CultivoTipoEtapaId",
                       "bSearchable": false,
                       "bSortable": false,
                       "bVisible": false

                   },
                    { "mData": "CultivoCiclo" },
                     { "mData": "Municipio" },
                     { "mData": "Condicion" },
                     { "mData": "Nombre" },
                    {
                        "mData": function (source, type, val) { return '<div class="btn-group" role="group" ><a href="CultivoTipoEtapa/Editar/' + source.CultivoTipoEtapaId + '" title="Editar" class="btn btn-default"><i class="icon-edit"></i></a>  <a href="CultivoTipoEtapa/Detalles/' + source.CultivoTipoEtapaId + '"title="Detalles" class="btn btn-default">  <i class="icon-dotlist"></i></a>  <a href="CultivoTipoEtapa/Eliminar/' + source.CultivoTipoEtapaId + '" title="Eliminar" class="btn btn-default"> <i class="icon-circledelete"></i> </a> </div>'; },
                    }
            ]
    });
    });
</script>

<!-- Script de globo de ayuda -->
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });
</script>
