@model SistemaExperto.Models.Prediccion

@{
    ViewBag.Title = "Crear predicción";
}

<!-- Scripts -->
<!-- Scripts -->
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/saat.js"></script>
<script src="~/Scripts/se.js"></script>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<style>
    .tooltip.top .tooltip-inner {
        background-color: red;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: red;
    }

    .panel-adm {
        background-color: lightgray;
        height: 300px;
    }

    .img-admin {
        width: 40%;
    }

    .contenedor-admin {
        top: 200px;
    }
</style>

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapa</a></li>
    <li class="active">Crear predicción</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Crear predicción</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ZonaEstacionId, "Zona - Estacion", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ZonaEstacionId", String.Empty)
                    @Html.ValidationMessageFor(model => model.ZonaEstacionId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Fecha, new { @id = "date-picker", @class = "date-picker form-control" })
                    @Html.ValidationMessageFor(model => model.Fecha)
                </div>
            </div>

            <div class="espacio20"></div>

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }

    @if (ViewBag.MensajeError != null)
    {
      
        <p style="color: red">@*@ViewBag.OtrosErrores*@
            @ViewBag.MensajeError
        </p>
    }
    
    <script>
        $("select").addClass("form-control")
    </script>
</div>