@model SistemaExperto.Models.Prediccion

@{
    ViewBag.Title = "Predicción";
}

@*<style>
    .dl-horizontal dt {
        width: 250px;
        padding: 0 10px 0 0;
    }
</style>*@

<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapa</a></li>
    <li><a href="~/Prediccion">Predicciones</a></li>
    <li class="active">Detalles de predicción</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!-- título -->
    <h2>Detalles de la predicción</h2>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ZonaEstacion.ZonaEstacionId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZonaEstacion.ZonaEstacionId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.R)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.R)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.L)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.L)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.S)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.S)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PR)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PR)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ETr)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ETr)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PRO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PRO)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.d)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.d)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Z)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Z)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.X)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.X)
                </dd>

            </dl>

        </div>

        <div class="col-md-4 well text-center">
            @if (Model.X >= -0.99 && Model.X <= 0.99)
            {
                <h4>Normal</h4>
                <img src="~/Content/Imagenes/normal.png" />
            }
            else if (Model.X >= 1 && Model.X <= 2.99)
            {
                <h4>Húmeda</h4>
                <img src="~/Content/Imagenes/humeda.png" />
            }
            else if (Model.X >= 3)
            {
                <h4>Muy húmeda</h4>
                <img src="~/Content/Imagenes/muy_humeda.png" />
            }
            else if (Model.X >= -2.99 && Model.X <= -1)
            {
                <h4>Seca</h4>
                <img src="~/Content/Imagenes/seca.png" />
            }
            else if (Model.X <= -3)
            {
                <h4>Muy seca</h4>
                <img src="~/Content/Imagenes/muy_seca.png" />
            }
        </div>
        <hr />
    </div>

    <div class="clearfix"></div>
    <p>
        <a class="btn btn-primary" href="~/Prediccion/Editar/@Model.PrediccionId" role="button"><span class="glyphicon glyphicon-edit"></span> Editar</a>
        <a class="btn btn-warning" href="~/Prediccion" role="button"><span class="glyphicon glyphicon-circle-arrow-left"></span> Volver</a>
    </p>

</div>