@model SistemaExperto.Models.Municipio

@{
    ViewBag.Title = "Crear";
}
<!-- Scripts -->
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/se.js"></script>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Municipio">Municipios</a></li>
    <li class="active">Crear</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Crear municipio</h2>
    <hr />



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CodigoDane, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CodigoDane)
                    @Html.ValidationMessageFor(model => model.CodigoDane)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Box, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Box)
                    @Html.ValidationMessageFor(model => model.Box)
                </div>
            </div>

           
            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion)
                    @Html.ValidationMessageFor(model => model.Descripcion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartamentoId, "Departamento", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartamentoId", String.Empty)
                    @Html.ValidationMessageFor(model => model.DepartamentoId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RutaImagen, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RutaImagen)
                    @Html.ValidationMessageFor(model => model.RutaImagen)
                </div>
            </div>

            <!-- Botón crear -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <br />
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </div>
        </div>


    }

    </div>

    <script>
    $("select").addClass("form-control")
    </script>
