@model SistemaExperto.Models.ZonaEstacion

@{
    ViewBag.Title = "Eliminar";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />


<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Eliminar zona estacion</h2>
    <hr />

    <!-- Datos -->
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Estacion.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estacion.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Zona.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Zona.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Porcentaje)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

         <!-- Botón eliminar -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <br />
                    <input type="submit" value="Eliminar" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
