@model SistemaExperto.Models.Estacion

@{
    ViewBag.Title = "Eliminar estación";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/Estacion">Estaciones</a></li>
    <li class="active">@Model.Nombre</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Eliminar estación</h2>
    <hr />

    <!-- Datos -->
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CodigoIdeam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoIdeam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Latitud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Latitud)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Longitud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Longitud)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Altitud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Altitud)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EstacionTipo.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstacionTipo.Tipo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
           <!-- Botón eliminar -->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <br />
                    <input type="submit" value="Eliminar" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>

   
</div>