@model SistemaExperto.Models.ListaOpciones

@{
    ViewBag.Title = "Detalles";
}

<!-- Scripts -->
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/listaOpciones">Lista opciones</a></li>
    <li class="active">Detalles</li>
</ol>
<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!-- título -->
    <h2>Relación de opción (OT) con cultivo, condicion y municipio</h2>


    <div class="row">
        <div class="col-xs-12 col-md-6">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ListaOpcionesId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ListaOpcionesId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cultivo.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cultivo.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Municipio.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Municipio.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OpcionTecnologica.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpcionTecnologica.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoOferta.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoOferta.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TipoPrediccion.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TipoPrediccion.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstadoDesarrolloCultivo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstadoDesarrolloCultivo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IndicadorLocal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IndicadorLocal)
                </dd>

            </dl>
        </div>
    </div>
</div>
