@model SistemaExperto.Models.MunicipioEscenario
@{
    ViewBag.Title = "Crear";
}

<!-- Scripts -->
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/se.js"></script>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li><a href="~/MunicipioEscenario">Escenarios</a></li>
    <li class="active">Crear </li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">

    <!--Título-->
    <h2>Crear escenarios</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="row">

                <div class="col-md-10">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Codigo, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Codigo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Codigo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CondicionId, "Condicion", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("CondicionId", String.Empty)
                            @Html.ValidationMessageFor(model => model.CondicionId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MunicipioId, "Municipio", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("MunicipioId", String.Empty)
                            @Html.ValidationMessageFor(model => model.MunicipioId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mes, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Mes, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mes)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Descripcion, new { Rows = "6", @style = "width:100%", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $("select").addClass("form-control")
</script>